{% extends "backend/base.html" %}
{% load static %}

{% block extrahead %}
<!-- STYLE CSS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/style-SignUp.css">
<!-- Steps CSS and JS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/steps.css">
{% endblock %}

{% block content %}
<!-- Start Wrapper -->
<div class="wrapper BG-Blue pb-5">
	<!-- Start Container -->
	<div class="inner col-12 col-lg-10 m-auto">
		<!-- Column 1 -->
		<div class="form-content colsdafads-12 col-lg-9 px-lg-0 pb-5 mx-auto">
			<div class="form-header">
				<h2 class="Color-Secondary mb-2 d-lg-none">Step 4/4:</h2>
				<h2 class="mb-1 Color-Secondary">Triggers</h2>
				<p>Please fill the form below to include your notifier and access list. </p>
			</div>



			<!-- Left Column Inner Column -->
			<div class="inner pb-5">
				<!-- Form Div -->
				<div class="form-content w-100 pb-3">
					{% include 'backend/onboarding-trigger-breadcrumbs.html' %}
					<!-- Form -->
					<form method="post" class="Assets needs-validation" novalidate>
						{% csrf_token %}
						<!-- Start EPF Div-->
						<!-- Information -->
						<!-- Access List -->
						<!-- Access List -->
						<DIV class="mb-5">
							<h4 class="text-black">Access List</h4>
							<br>
							<!-- Access List 1 #1 -->
							<div>
								<h5 class="answer text-black">Access List #1</h5>
								<br>
								<br>
								<div class="form-row Btn-Radio flex-row flex-wrap flex-lg-nowrap">
									<div class="answer mb-5 mb-lg-0 col-lg-6 col-12">
										<h5>Name</h5><br>
										<input type="text" name="accesslist_name" id="" placeholder="Name" class="px-4">
									</div>
									<div class="answer mt-5 mt-lg-0 col-lg-6 col-12 mx-1">
										<h5>Email</h5><br>
										<input type="text" name="accesslist_email" id="" placeholder="Email"
											class="px-4">
									</div>
								</div>
								<br><br><br>
								<div class="form-row Btn-Radio flex-row flex-wrap flex-lg-nowrap">
									<div class="answer mb-5 mb-lg-0 col-lg-6 col-12">
										<h5>IC</h5><br>
										<input type="text" name="accesslist_ic" id="" placeholder="IC" class="px-4">
									</div>
									<div class="answer mt-5 mt-lg-0 col-lg-6 col-12 mx-1">
										<h5>Contact No</h5><br>
										<input type="text" name="accesslist_contactno" id="" placeholder="+6016656366"
											class="px-4">
									</div>
								</div>
								<br><br><br>
								<div class="form-row Btn-Radio flex-row flex-wrap flex-lg-nowrap">
									<div class="answer mt-5 mt-lg-0 col-lg-6 col-12 mx-1">
										<h5>Relationship</h5><br>
										<input type="text" name="notifier_relationship" id="" placeholder="Father"
											class="px-4" style="max-height: 71px;">
									</div>
									<div class="answer mb-5 mb-lg-0 col-lg-6 col-12">
										<h5>Events</h5><br>
										<div class="px-3">
											<input type="checkbox" name="Events" value="Critical_Illness">Critical
											Illness<br>
											<input type="checkbox" name="Events" value="Death">Death<br>
											<input type="checkbox" name="Events" value="Dementia">Dementia<br>
											<input type="checkbox" name="Events" value="Permanent Disability">Permanent
											Disability<br>
										</div>
									</div>
								</div>
								<br>
							</div>

							<!-- End Information -->
							<div class="answer mb-5">
								<!-- Billing Cycle Toggle -->
								<div class="text-center">
									<div class="form-check form-switch flex-row d-flex align-items-center">
										<input class="hide_answer_2 form-check-input" type="checkbox"
											id="flexSwitchCheckDefault">
										<label class="form-check-label ms-2" for="flexSwitchCheckDefault">Add More
											Access List</label>

									</div>
								</div>
							</div>








							<!-- Button -->
							<div class="mt-5">
								<a class="btn Btn-Secondary-2 mt-5" href="{% url 'liabilities_others_form' %}"
									role="button">Back</a>
								<button class="btn Btn-Primary mt-5 float-end" type="submit">NEXT</button>
							</div>
					</form>
					<!-- End Form -->
				</div>
				<!-- End Form Div-->
			</div>
			<!-- End Left Column Inner Column -->
		</div>
		<!-- End Column 1 -->
	</div>
	<!-- Start Column 2 -->
	{% include 'backend/onboarding-trigger-sidebar.html' %}
</div>
<!-- End Container -->
</div>
<!-- End Wrapper -->
<script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
{% endblock %}