	{% extends "backend/base.html" %}
	{% load static %}

{% block extrahead %}
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/style-SignUp.css">
		<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
		<!-- Steps CSS and JS -->
		<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/steps.css">
{% endblock %}

	{% block content %}
	<!-- Start Wrapper -->
		<div class="wrapper BG-Blue pb-5">
			<!-- Start Container -->
					<div class="inner col-12 col-lg-10 m-auto">
						<!-- Column 1 -->
						<div class="form-content col-12 col-lg-9 px-lg-0 pb-5 mx-auto">
							<div class="form-header">
								<h2 class="Color-Secondary mb-2 d-lg-none">Step 2/4:</h2>
								<h2 class="mb-1 Color-Secondary">Assets</h2>
								<p>Please fill the form below to record your personal assets information. Feel free to add
									as much detail as needed. </p>
							</div>



							<!-- Left Column Inner Column -->
							<div class="inner pb-5">
								<!-- Form Div -->
								<div class="form-content w-100 pb-3">
								{% include 'backend/onboarding-assets-breadcrumbs.html' %}
								<!-- Form -->
								<form method="post" class="Assets">
									{% csrf_token %}
									<!-- Start Vehicle -->
									<DIV class="mb-5">
									<h4 class="text-black">Other Assets</h4>
									<p class="text-start">Fill in your other assets information.</p><br>
									<!-- Information -->
									<!-- Other Assets #1 -->
									<div>
										<div class="form-row">
											<h5 class="text-black">Assets #1</h5><br>
										</div>

										<div class="form-row Btn-Radio mt-5 flex-row flex-wrap flex-lg-nowrap">
											<div class="col-12 col-lg-6 mb-5 mb-lg-0">
												<h5>Assets Name</h5><br>
												<input type="text" name="AssetsName" id="" placeholder="Bitcoin"
													class="px-4">
											</div>
											<div class="mx-1 col-12 col-lg-6 mt-5 mt-lg-0">
												<h5>Value</h5><br>
												<input type="text" name="OtherAssetsValue" id="" placeholder="RM100,000"
													class=" px-4">
											</div>
										</div>

										<!-- Billing Cycle Toggle -->
										<div class="mt-4 pt-4 text-center">
											<div class="form-check form-switch flex-row d-flex align-items-center mt-5">
												<input class="form-check-input" type="checkbox" checked
													id="flexSwitchCheckDefault">
												<label class="form-check-label ms-2" for="flexSwitchCheckDefault">Add
													More
													Assets</label>

											</div>
										</div>
									</div>

									<!-- Other Assets #2 -->
									<div>
										<div class="form-row mt-4 pt-4">
											<h5 class="text-black">Assets #2</h5><br>
										</div>

										<div class="form-row Btn-Radio mt-5 flex-row flex-wrap flex-lg-nowrap">
											<div class="col-12 col-lg-6 mb-5 mb-lg-0">
												<h5>Assets Name</h5><br>
												<input type="text" name="AssetsName" id="" placeholder="Watch"
													class="px-4">
											</div>
											<div class="mx-1 col-12 col-lg-6 mt-5 mt-lg-0">
												<h5>Value</h5><br>
												<input type="text" name="OtherAssetsValue" id="" placeholder="RM50,000"
													class=" px-4">
											</div>
										</div>
										<br>
										<!-- Billing Cycle Toggle -->
										<div class="text-center">
											<div class="form-check form-switch flex-row d-flex align-items-center mt-5">
												<input class="form-check-input" type="checkbox"
													id="flexSwitchCheckDefault">
												<label class="form-check-label ms-2" for="flexSwitchCheckDefault">Add
													More
													Assets</label>

											</div>
										</div>
									</div>



								</div>
								<!-- End Others -->



									<!-- Button -->
									<div class="mt-5">
										<a class="btn Btn-Secondary-2 mt-5" href="{% url 'bank_account_form' %}" role="button">Back</a>
										<button class="btn Btn-Primary mt-5 float-end"type="submit">NEXT</button>
									</div>
								</form>
								<!-- End Form -->
								</div>
								<!-- End Form Div-->
							</div>
							<!-- End Left Column Inner Column -->
						</div>
						<!-- End Column 1 -->
						<!-- Start Column 2 -->
						{% include 'backend/onboarding-assets-sidebar.html' %}
		</div>
		<!-- End Container -->
		</div>
		<!-- End Wrapper -->
		<script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
	{% endblock %}