{% extends "backend/base.html" %}
{% load static %}


{% block extrahead %}
<!-- STYLE CSS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/style-SignUp.css">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<!-- Steps CSS and JS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/steps.css">
<style>
	.table td a {
		all: unset;
		cursor: pointer;
	}
</style>
{% endblock %}

{% block content %}

<div class="wrapper BG-Blue pb-5">
	<form action="" class="Assets">
		<!-- SECTION 1 -->
		<h2></h2>
		<section>
			<div class="inner col-12 col-lg-10 m-auto">
				<!-- Column 1 -->
				<div class="form-content col-12 col-lg-9 px-lg-0 pb-5 mx-auto">
					<div class="form-header">
						<h2 class="mb-1 Color-Secondary">Assets Overview</h2>
						<p>Check all the assets that you currently possess and
							proceed to complete them if you have not. </p>
					</div>



					<!-- Left Column Inner Column -->
					<div class="inner pb-5">

						<div class="form-content w-100 pb-3">



							<!-- Other Assets -->
							<DIV class="mb-5">
								<!-- <h4 class="text-black">All Assets</h4>
									<p class="text-start">Check all the assets that you currently possess and
										mark them as complete in the checkboxes below.</p><br> -->
								<!-- Information -->
								<!-- Other Assets #1 -->
								{{items}}
								<div>
									<div>
										<table class="table">
											<thead>
												<tr>
													<th scope="col">#</th>
													<th scope="col">Assets</th>
													<th scope="col">Last Modified</th>
													<th scope="col">Complete?</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">1</th>
													<td><a href="assets">Bank</a></td>
													<td>25/11/2022</td>
													<td>
														<div class="checkbox">
															<label><input type="checkbox" disabled="disabled"
																	value="check1" checked /></label>
														</div>
													</td>
												</tr>
												<tr>
													<th scope="row">2</th>
													<td><a href="assets-2-epf">EPF/SOCSO</a></td>
													<td>24/11/2022</td>
													<td>
														<div class="checkbox">
															<label><input type="checkbox" disabled="disabled"
																	value="check1" checked /></label>
														</div>
													</td>
												</tr>
												<tr>
													<th scope="row">3</th>
													<td><a href="assets-3-insurance">Insurance</a> </td>
													<td>23/11/2022</td>
													<td>
														<div class="checkbox">
															<label><input type="checkbox" disabled="disabled"
																	value="check1" checked /></label>
														</div>
													</td>
												</tr>
												<tr>
													<th scope="row">4</th>
													<td><a href="assets-4-investment">Investment</a> </td>
													<td>23/11/2022</td>
													<td>
														<div class="checkbox">
															<label><input type="checkbox" disabled="disabled"
																	value="check1" /></label>
														</div>
													</td>
												</tr>

												<tr>
													<th scope="row">5</th>
													<td><a href="assets-5-property">Property</a> </td>
													<td>22/11/2022</td>
													<td>
														<div class="checkbox">
															<label><input type="checkbox" disabled="disabled"
																	value="check1" /></label>
														</div>
													</td>
												</tr>


												<tr>
													<th scope="row">6</th>
													<td><a href="assets-6-vehicles">Vehicles</a> </td>
													<td>21/11/2022</td>
													<td>
														<div class="checkbox">
															<label><input type="checkbox" disabled="disabled"
																	value="check1" checked /></label>
														</div>
													</td>
												</tr>


												<tr>
													<th scope="row">7</th>
													<td><a href="assets-7-others">Others</a> </td>
													<td>20/11/2022</td>
													<td>
														<div class="checkbox">
															<label><input type="checkbox" disabled="disabled"
																	value="check1" checked /></label>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>

								</div>





							</DIV>




							<!-- Button -->
							<div class="mt-5">
								<!-- <a class="btn Btn-Secondary-2 mt-5" href="{% url 'bank_account_form' %}" role="button">Back</a> -->

								<a class="btn Btn-Primary mt-5 float-end" href="{% url 'credit_card_form' %}"
									role="button">Next</a>
							</div>
						</div>

					</div>

				</div>
				{% include 'backend/onboarding-assets-sidebar.html' %}
			</div>


		</section>



	</form>
</div>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
{% endblock %}