{% extends 'backend/base.html' %}
{% block extrahead %}
<!-- STYLE CSS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/style-SignUp.css">
<!-- Steps CSS and JS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/steps.css">
{% endblock %}
{% block extrastyle %}
{% endblock %}
{% block content %}
<div class="container bg-white my-50 container-shadow">
  <div class="row">
    <!-- First Column -->
    <div class="col-md-8 col-lg-8">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-12 mx-auto pt-5">
        <h2 class="Color-Secondary mb-2 d-lg-none text-center">Step 2/4:</h2>
        <h2 class="mb-1 Color-Secondary text-center">Assets</h2>
        <p class="text-center">Please fill the form below to record your personal assets information. Feel free to add
          as much detail as needed. </p>
    </div>
  </div>
  <div class="row">
  <div class="container">
<div class="row container-shadow p-4 m-4">
      {% include 'backend/assets-onboarding-breadcrumbs.html' %}
  <div class="row">
    <div class="col-12">
        <h4 class="text-black">Crypto Assets</h4>
              <p class="text-start">Fill in your crypto assets information.</p>
            </div>
    <!-- Yes no label -->
    <div class="col-12 py-2">
      <label>Do you have crypto assets?</label>
    </div>
                                    <!-- Start Input -->
                                    <div class="col-6 col-lg-3 col-md-6 col-sm-6 btn-radio">
                                        <input class="unhide-form-block" type="radio" name="yesno" id="yesno" value="yes"
                                            checked>
                                        <label for="yesno">
                                            <h6>Yes</h6>
                                        </label>

                                    </div>
                                    <div class="col-6 col-lg-3 col-md-6 col-sm-6 btn-radio">
                                        <input class="hide-form-block" type="radio" name="yesno" id="yesno2" value="no">
                                        <label for="yesno2">
                                            <h6>No</h6>
                                        </label>
                                      </div>
                                    </div>
                                    <!-- End Input -->
      <!-- Yes no label -->

  <form class="form-horizontal form-block" method="POST" action="">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
    <div class="row form-row">  
      <div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
        <label for="{{ form.crypto_type.id_for_label }}">{{form.crypto_type.label}}</label>
        {{form.crypto_type}}
        <small class="text-danger">{{ form.crypto_type.errors }}</small>
      </div>
    <div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
        <label for="{{ form.wallet_name.id_for_label }}">{{form.wallet_name.label}}</label>
        {{form.wallet_name}}
        <small class="text-danger">{{ form.wallet_name.errors }}</small>
      </div>

      <div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
        <label for="{{ form.value.id_for_label }}">{{form.value.label}}<i class="fas fa-info-circle px-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Only numerical value; No Symbols or Special Characters Allowed"></i></label>
        {{form.value}}
        <small class="text-danger">{{ form.value.errors }}</small>
      </div>
<div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
<label class="form-label" for="customFile">Upload File</label>
<input onchange="validateSize(this)" type="file" class="" id="customFile" />
      </div>
<div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
<label class="form-label" for="customFile2">Upload File</label>
<input onchange="validateSize(this)" type="file" class="" id="customFile2" />
      </div>
        <!-- End process each form fields manually -->

        <!-- Add/remove additional forms-->
      <div class="col-12 d-flex py-2">
        {% if forloop.last %}
          <button class="btn btn-success add-form-row mt-auto">Add</button>
        {% else %}
          <button class="btn btn-danger remove-form-row mt-auto">Delete</button>
        {% endif %}
      </div>
      <!-- End Add/remove additional forms-->

    </div>
    {% endfor %}
    <!-- Submit Button -->
    <div class="row spacer">
        <div class="col-12">
            <button type="submit" class="btn btn-block btn-primary">Save</button>
        </div>
    </div>
    <!-- Submit Button -->
  </form>
  <form class="form-horizontal hidden-form-block py-4" method="POST" action="">
    {% csrf_token %}
  <div class="row spacer">
        <div class="col-12">
            <button type="submit" id="skip" name="skip" value="skip" class="btn btn-block btn-primary">Next</button>
        </div>
    </div>
  </form>
</div>
</div>
  </div>
</div>
<!-- End First Column -->

<!-- Start Second Column -->
<div class="col-md-4 col-lg-4 BG-Gray">
{% include 'backend/assets-onboarding-sidebar.html' %}
  </div>
  <!-- End Second Column -->
</div>
</div>
<script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
{% endblock %}
