{% extends 'backend/base.html' %}
{% block extrahead %}
<!-- STYLE CSS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/style-SignUp.css">
<!-- Steps CSS and JS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/steps.css">
{% endblock %}
{% block extrastyle %}
{% endblock %}
{% block content %}
<div class="container bg-white my-50 container-shadow">
  <div class="row">
    <!-- First Column -->
    <div class="col-md-8 col-lg-8">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-12 mx-auto pt-5">
        <h2 class="Color-Secondary mb-2 d-lg-none text-center">Step 2/4:</h2>
        <h2 class="mb-1 Color-Secondary text-center">Assets</h2>
        <p class="text-center">Please fill the form below to record your personal assets information. Feel free to add
          as much detail as needed. </p>
    </div>
  </div>
  <div class="row">
  <div class="container">
<div class="row container-shadow p-4 m-4">
      {% include 'backend/assets-onboarding-breadcrumbs.html' %}
  <div class="row">
    <div class="col-12">
        <h4 class="text-black">Property</h4>
              <p class="text-start">Fill in your Property information.</p>
            </div>
    <!-- Yes no label -->
    <div class="col-12 py-2">
      <label>Do you have property?</label>
    </div>
                                    <!-- Start Input -->
                                    <div class="col-6 col-lg-3 col-md-6 col-sm-6 btn-radio">
                                        <input class="unhide-form-block" type="radio" name="yesno" id="yesno" value="yes"
                                            checked>
                                        <label for="yesno">
                                            <h6>Yes</h6>
                                        </label>

                                    </div>
                                    <div class="col-6 col-lg-3 col-md-6 col-sm-6 btn-radio">
                                        <input class="hide-form-block" type="radio" name="yesno" id="yesno2" value="no">
                                        <label for="yesno2">
                                            <h6>No</h6>
                                        </label>
                                      </div>
                                    </div>
                                    <!-- End Input -->
      <!-- Yes no label -->

  <form class="form-horizontal form-block" method="POST" action="" id="propertyForm" data-residential-type-url="{% url 'data-residential-type-url' %}" novalidate>
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
    <div class="row form-row">
      <div class="col-12 py-2">
        <label class="py-2">{{form.property_type.label}}</label>
        <div class="input-group">
        {% for radio in form.property_type %}
        <!-- Process each form fields manually -->
         <div class="col-4 col-lg-3 col-md-6 col-sm-6 btn-radio px-1">
            {{radio.tag}}
            <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
          </div>
        {% endfor %}
        <small class="text-danger p-2">{{ form.property_type.errors }}</small>
        </div>
        
      </div>
        
      <div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
        <label for="{{ form.residential_type.id_for_label }}">{{form.residential_type.label}}</label>
        {{form.residential_type}}
        <small class="text-danger">{{ form.residential_type.errors }}</small>
      </div>

      <div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
        <label for="{{ form.address.id_for_label }}">{{form.address.label}}</label>
        {{form.address}}
        <small class="text-danger">{{ form.address.errors }}</small>
      </div>

      <div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
        <label for="{{ form.state.id_for_label }}">{{form.state.label}}</label>
        {{form.state}}
        <small class="text-danger">{{ form.state.errors }}</small>
      </div>
<div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
        <label for="{{ form.postcode.id_for_label }}">{{form.postcode.label}}</label>
        {{form.postcode}}
        <small class="text-danger">{{ form.postcode.errors }}</small>
      </div>
      <div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
        <label for="{{ form.titleno.id_for_label }}">Title No</label>
        {{form.titleno}}
        <small class="text-danger">{{ form.postcode.titleno.errors }}</small>
      </div>

<div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
<label class="form-label" for="customFile">Upload File</label>
<input onchange="validateSize(this)" type="file" class="" id="customFile" />
      </div>
<div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
<label class="form-label" for="customFile2">Upload File</label>
<input onchange="validateSize(this)" type="file" class="" id="customFile2" />
      </div>
        <!-- End process each form fields manually -->

        <!-- Add/remove additional forms-->
      <div class="col-12 d-flex py-2">
        {% if forloop.last %}
          <button class="btn btn-success add-form-row mt-auto">Add</button>
        {% else %}
          <button class="btn btn-danger remove-form-row mt-auto">Delete</button>
        {% endif %}
      </div>
      <!-- End Add/remove additional forms-->

    </div>
    {% endfor %}
    <!-- Submit Button -->
    <div class="row spacer">
        <div class="col-12">
            <button type="submit" class="btn btn-block btn-primary">Save</button>
        </div>
    </div>
    <!-- Submit Button -->
  </form>
<form class="form-horizontal hidden-form-block py-4" method="POST" action="">
    {% csrf_token %}
  <div class="row spacer">
        <div class="col-12">
            <button type="submit" id="skip" name="skip" value="skip" class="btn btn-block btn-primary">Next</button>
        </div>
    </div>
  </form>
</div>
</div>
  </div>
</div>
<!-- End First Column -->

<!-- Start Second Column -->
<div class="col-md-4 col-lg-4 BG-Gray">
{% include 'backend/assets-onboarding-sidebar.html' %}
  </div>
  <!-- End Second Column -->
</div>
</div>
 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
  <script>
    $("#id_form-0-property_type_0 , #id_form-0-property_type_1 , #id_form-0-property_type_2").change(function () {
      var url = $("#propertyForm").attr("data-residential-type-url");  // get the url of the `load_cities` view
      var property_type = $(this).val();  // get the selected property ID from the HTML input
      console.log("triggered")
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'property_type': property_type      // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_form-0-residential_type").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script><script>
    $(document).on("change","#id_form-1-property_type_0 , #id_form-1-property_type_1 , #id_form-1-property_type_2", function () {
      var url2 = $("#propertyForm").attr("data-residential-type-url");  // get the url of the `load_cities` view
      var property_type2 = $(this).val();  // get the selected property ID from the HTML input
      console.log("triggered 2")
      $.ajax({                       // initialize an AJAX request
        url: url2,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'property_type': property_type2      // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_form-1-residential_type_0").html(data);
          $("#id_form-1-residential_type").html(data);
            // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>

{% endblock %}
