{% extends "backend/base.html" %}
{% load static %}


{% block content %}

<div class="HeroBannerContact">
    <div class="cont">
        <div class="row text-center">
            <div class="col-lg-12 col-sm-12">
                <hr class="d-none d-lg-block" style="height:130pt; visibility:hidden;" />
                <hr class="d-lg-none" style="height:50pt; visibility:hidden;" />
                <h1 class="text-black">Contact</h1>
                <p class="lead pt-3 text-center"><span style="font-size: 120%;">Send us a message</span></p>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Contact -->
<div class="container pb-5">
    <div class="row margin-TopN220">
        <!-- Inner Left Column -->
        <div class="col-lg-6 col-12 bg-white pt-5 px-5 text-black">
            <h2>Get In Touch</h2>
            <!-- Address and Hours -->
            <div class="row pt-5">
                <div class="col-lg-6 col-sm-6">
                    <img src="https://wahine.s3.amazonaws.com/static/Icon_Location_Primary.svg" alt=""
                        style="max-height: 64px;" class="Color-Primary">
                    <h4 class="uppercase pt-2 text-black"><strong>Address</strong></h4>
                    <p class="mt-3 text-black">Suite B9-07, Plaza Mont Kiara<br />2 Jalan Kiara, Mont Kiara <br />50480
                        Kuala
                        Lumpur</p>
                </div>
                <div class="col-lg-6 col-sm-6 mt-lg-0 mt-5">
                    <img src="https://wahine.s3.amazonaws.com/static/Icon_Hours_Primary.svg" alt=""
                        style="max-height: 64px;">
                    <h4 class="uppercase pt-2 text-black"><strong>Operating Hours</strong></h4>
                    <p class="mt-3 text-black">Mon to Fri: 9am - 6pm</p>
                </div>

            </div>
            <!-- Email and Phone -->
            <div class="row pt-5">
                <div class="col-lg-6 col-sm-6">
                    <img src="https://wahine.s3.amazonaws.com/static/Icon_Mail_Primary.svg" alt=""
                        style="max-width: 64px;">
                    <h4 class="uppercase pt-2 text-black"><strong>E-mail</strong></h4>
                    <p class="mt-3 text-black">hellowahine@Wcapital.asia</p>
                </div>
                <div class="col-lg-6 col-sm-6 mt-lg-0 mt-5">
                    <img src="https://wahine.s3.amazonaws.com/static/Icon_Community.png" alt=""
                        style="max-width: 64px;">
                    <h4 class="uppercase pt-2 text-black"><strong>Community Page</strong></h4>
                    <div class="row align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-cursor col-3" viewBox="0 0 16 16">
                            <path
                                d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z" />
                        </svg>
                        <p class="col-9 mb-0 px-0 text-black" style="margin-left:-40px ;"><a
                                href="https://www.facebook.com/groups/3015189302118554" target="_blank">Click
                                Here</a> </p>

                    </div>
                </div>
            </div>
            <!-- Social Media -->
            <div class="row pt-5 pb-5">
                <div class="col-lg-6 col-sm-6">
                    <img src="https://wahine.s3.amazonaws.com/static/Icon_SocialMedia.svg" alt=""
                        style="max-width: 64px;">
                    <h4 class="uppercase pt-2 text-black"><strong>Social Media</strong></h4>
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/profile.php?id=100087760548404" class="fa fa-facebook mt-4"></a>
                    <a href="https://www.linkedin.com/company/wahine-capital/" class="fa fa-linkedin"></a>
                    <a href="https://www.instagram.com/wahine_capital/" class="fa fa-instagram"></a>
                </div>

            </div>

        </div>
        <!-- Inner Right Column -->
        <div class=" col-12 col-lg-6 bg-white pt-5 px-5">
            <h2 class="text-black">Ask A Question</h2>
            <div class="mb-3 mt-5 ">
                <label for="FormControlInput1" class="form-label"><strong class="text-black">First Name</strong></label>
                <input type="email" class="form-control" id="FormControlInput1">
            </div>
            <div class="mb-3">
                <label for="FormControlInput2" class="form-label"><strong class="text-black">Last Name</strong> </label>
                <input type="email" class="form-control" id="FormControlInput2">
            </div>
            <div class="mb-3">
                <label for="FormControlInput2" class="form-label"><strong class="text-black">Email
                        address</strong></label>
                <input type="email" class="form-control" id="FormControlInput3">
            </div>
            <div class="mb-3">
                <label for="FormControlTextarea1" class="form-label"><strong class="text-black">Your
                        Message</strong></label>
                <textarea class="form-control" id="FormControlTextarea1"></textarea>
            </div>
            <button class="Btn-Primary mt-3 px-5">Submit</button>
        </div>
    </div>

</div>

<!-- Google Map -->
<!-- <div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7967.459846686244!2d101.64320146977536!3d3.165685700000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b783c5818efed7%3A0xfa5b51c991c1d246!2sPlaza%20Mont%20Kiara!5e0!3m2!1sen!2smy!4v1669875187215!5m2!1sen!2smy"
                width="100%" height="600px  " style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div> -->


{% endblock %}