{% extends "backend/base.html" %}
{% load static %}

{% block extrahead %}
<!-- STYLE CSS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/style-SignUp.css">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<!-- Steps CSS and JS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/steps.css">
{% endblock %}
{% block content %}
<div class="bg-white pb-5">
	<form action="" id="wizard" class="Assets">

		<h2></h2>
		<section>
			<div class="m-auto">
				<!-- Column 1 -->
				<div class="form-content w-100 pb-5 mx-auto">
					<div class="inner pb-5">
						<div class="form-content w-100 pb-3">
							<h4 class="text-black">Assets</h4>
							<p class="text-start mb-0">Overview of all your logged assets.</p><br>
							<!-- SECTION 1 -->
							<!-- Pill Shape Filter Assets, Liabilities & All -->
							<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link shadow" id="pills-home-tab" data-bs-toggle="pill"
										data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
										aria-selected="true">All</button>
								</li>
								<li class="nav-item mx-2" role="presentation">
									<button class="nav-link shadow active" id="pills-profile-tab" data-bs-toggle="pill"
										data-bs-target="#pills-profile" type="button" role="tab"
										aria-controls="pills-profile" aria-selected="false">Assets</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link shadow" id="pills-contact-tab" data-bs-toggle="pill"
										data-bs-target="#pills-contact" type="button" role="tab"
										aria-controls="pills-contact" aria-selected="false">Liabilities</button>
								</li>
							</ul>
							<div class="tab-content" id="pills-tabContent">
								<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
									aria-labelledby="pills-home-tab">All Content</div>
								<div class="tab-pane fade" id="pills-profile" role="tabpanel"
									aria-labelledby="pills-profile-tab">
									<!-- Doughnut Chart -->
									<section class="pt-5">
										<div class="container p-0">
											<div class="row">
												<div class="col-lg-6 col-12 mb-4 mx-auto">

													<!-- Asset Chart -->
													<canvas class="" id="AssetChart"></canvas>

												</div>
											</div>
										</div>
									</section>
								</div>
								<div class="tab-pane fade" id="pills-contact" role="tabpanel"
									aria-labelledby="pills-contact-tab">Liabilities Content</div>
							</div>


							<!-- Assets Columns -->
							<section class="pt-4">
								<div class="container px-lg-5 mt-4">
									<!-- Page Features-->
									<div class="row">
										<!-- Bank -->
										<div class="col-lg-4 mb-5">
											<div class="card bg-light border-0 h-100">
												<div class="card-body text-start p-4 p-lg-4 pt-0 pt-lg-0">
													<div class="row align-items-center pt-4 ">
														<small class="col Color-Primary">1/11 Assets</small>
														<div class="col text-end Color-Primary">
															<small>Export</small>
															<img src="{% static 'Img/Icon-Export.svg' %}" alt=""
																class="col" style="max-height: 30px;">
														</div>
													</div>
													<br>
													<h5 class="Color-Secondary">Bank Account</h5>
													<small>Last Updated on June 01, 2022</small>
													<br>
													<br>
													<div class="row Color-Primary	">
														<small class="col-9 ">MYR 120,000 / MYR 3,370,000</small>
														<small class="col-3 text-end">3.6%</small>
													</div>

													<div class="progress mt-1">
														<div class="progress-bar Bg-Primary" role="progressbar"
															style="width: 25%" aria-valuenow="25" aria-valuemin="0"
															aria-valuemax="100"></div>
													</div><br>
													<!-- Bank Asset #1 -->
													<div>
														<small class="Color-Secondary">#1</small><br>
														<small>Bank Type: Savings</small><br>
														<small>Bank Name: Maybank</small><br>
														<small>Account Number: A12345678</small><br>
														<small>Account Value: MYR 120,000</small>
													</div><br>
													<div class="mt-3">
														<a class="btn Btn-Secondary-2" href="#" role="button">Edit</a>
													</div>
													<br>
													<!-- Upload Documents -->
													<div>
														<label class="form-label" for="customFile"> Upload Relevant
															Documents</label>
														<input type="file" class="form-control" id="customFile"
															multiple /> <br>
														<input type="submit">
													</div>




												</div>
											</div>
										</div>
										<!-- EPF/SOCSO -->
										<div class="col-lg-4 mb-5">
											<div class="card bg-light border-0 h-100">
												<div class="card-body text-start p-4 p-lg-4 pt-0 pt-lg-0">
													<div class="row align-items-center pt-4 ">
														<small class="col Color-Primary">2/11 Assets</small>
														<div class="col text-end Color-Primary">
															<small>Export</small>
															<img src="{% static 'Img/Icon-Export.svg' %}" alt=""
																class="col" style="max-height: 30px;">
														</div>
													</div>
													<br>
													<h5 class="Color-Secondary">EPF/SOCSO</h5>
													<small>Last Updated on June 01, 2022</small>
													<br>
													<br>
													<div class="row Color-Primary	">
														<small class="col-9 ">MYR 100,000 / MYR 3,370,000</small>
														<small class="col-3 text-end">3.0%</small>
													</div>

													<div class="progress mt-1">
														<div class="progress-bar Bg-Primary" role="progressbar"
															style="width: 25%" aria-valuenow="25" aria-valuemin="0"
															aria-valuemax="100"></div>
													</div><br>
													<!-- EPF #1 -->
													<div>
														<small class="Color-Secondary">#1</small><br>
														<small>EPF</small><br>
														<small>Membership Number: A123456</small><br>
														<small>Nominee Details: Jason Ang</small><br>
														<small>Account Value: MYR 50,000</small>
													</div>
													<br>
													<!-- SOCSO #2 -->
													<div>
														<small class="Color-Secondary">#2</small><br>
														<small>SOCSO</small><br>
														<small>Membership Number: A123456</small><br>
														<small>Nominee Details: Jeremy Leong</small><br>
														<small>Account Value: MYR 50,000</small>
													</div>
													<div class="mt-3">
														<a class="btn Btn-Secondary-2" href="#" role="button">Edit</a>
													</div>
													<br>

													<!-- Upload Documents -->
													<div>
														<label class="form-label" for="customFile"> Upload Relevant
															Documents</label>
														<input type="file" class="form-control" id="customFile"
															multiple /> <br>
														<input type="submit">
													</div>
												</div>
											</div>
										</div>
										<!-- Insurance -->
										<div class="col-lg-4 mb-5">
											<div class="card bg-light border-0 h-100">
												<div class="card-body text-start p-4 p-lg-4 pt-0 pt-lg-0">
													<div class="row align-items-center pt-4 ">
														<small class="col Color-Primary">3/11 Assets</small>
														<div class="col text-end Color-Primary">
															<small>Export</small>
															<img src="{% static 'Img/Icon-Export.svg' %}" alt=""
																class="col" style="max-height: 30px;">
														</div>
													</div>
													<br>
													<h5 class="Color-Secondary">Insurance</h5>
													<small>Last Updated on June 01, 2022</small>
													<br>
													<br>
													<div class="row Color-Primary	">
														<small class="col-9 ">MYR 2,100,000 / MYR 3,370,000</small>
														<small class="col-3 text-end">62.3%</small>
													</div>

													<div class="progress mt-1">
														<div class="progress-bar Bg-Primary" role="progressbar"
															style="width: 25%" aria-valuenow="25" aria-valuemin="0"
															aria-valuemax="100"></div>
													</div><br>
													<!-- Life Insurance #1 -->
													<div>
														<small class="Color-Secondary">#1</small><br>
														<small>Life Insurance</small><br>
														<small>Policy Number: A1234567</small><br>
														<small>Nominee Details: Keith</small><br>
														<small>Sum Insured: 1,000,000</small>
													</div>
													<br>
													<!-- Medical Insurance #2 -->
													<div>
														<small class="Color-Secondary">#2</small><br>
														<small>Medical Insurance</small><br>
														<small>Policy Number: A1234567</small><br>
														<small>Nominee Details: Keith</small><br>
														<small>Sum Insured: 1,000,000</small>
													</div>
													<br>
													<!-- General Insurance #3 -->
													<div>
														<small class="Color-Secondary">#3</small><br>
														<small>General Insurance</small><br>
														<small>Policy Number: A1234567</small><br>
														<small>Nominee Details: Keith</small><br>
														<small>Sum Insured: 100,000</small>
													</div>
													<div class="mt-3">
														<a class="btn Btn-Secondary-2" href="#" role="button">Edit</a>
													</div>
													<br>
													<!-- Upload Documents -->
													<div>
														<label class="form-label" for="customFile"> Upload Relevant
															Documents</label>
														<input type="file" class="form-control" id="customFile"
															multiple /> <br>
														<input type="submit">
													</div>

												</div>
											</div>
										</div>

										<!-- Investment -->
										<div class="col-lg-4 mb-5">
											<div class="card bg-light border-0 h-100">
												<div class="card-body text-start p-4 p-lg-4 pt-0 pt-lg-0">
													<div class="row align-items-center pt-4 ">
														<small class="col Color-Primary">2/11 Assets</small>
														<div class="col text-end Color-Primary">
															<small>Export</small>
															<img src="{% static 'Img/Icon-Export.svg' %}" alt=""
																class="col" style="max-height: 30px;">
														</div>
													</div>
													<br>
													<h5 class="Color-Secondary">Investment</h5>
													<small>Last Updated on June 01, 2022</small>
													<br>
													<br>
													<div class="row Color-Primary	">
														<small class="col-9 ">N/A / MYR 3,370,000</small>
														<small class="col-3 text-end">6.5%</small>
													</div>

													<div class="progress mt-1">
														<div class="progress-bar Bg-Primary" role="progressbar"
															style="width: 0%" aria-valuenow="0" aria-valuemin="0"
															aria-valuemax="100"></div>
													</div><br>
													<!-- Public Investment #1 -->
													<div>
														<small class="Color-Secondary">#1</small><br>
														<small>Public Investment</small><br>
														<small>Investment Type: Tabung Haji </small><br>
														<small>Account Number: A1234567</small><br>
													</div>
													<br>
													<!-- Private Investment #2 -->
													<div>
														<small class="Color-Secondary">#2</small><br>
														<small>Public Investment</small><br>
														<small>Investment Type: Unit Trust </small><br>

													</div>

													<div class="mt-3">
														<a class="btn Btn-Secondary-2" href="#" role="button">Edit</a>
													</div>
													<br>
													<!-- Upload Documents -->
													<div>
														<label class="form-label" for="customFile"> Upload Relevant
															Documents</label>
														<input type="file" class="form-control" id="customFile"
															multiple /> <br>
														<input type="submit">
													</div>
												</div>
											</div>
										</div>

										<!-- Property -->
										<div class="col-lg-4 mb-5">
											<div class="card bg-light border-0 h-100">
												<div class="card-body text-start p-4 p-lg-4 pt-0 pt-lg-0">
													<div class="row align-items-center pt-4 ">
														<small class="col Color-Primary">1/11 Assets</small>
														<div class="col text-end Color-Primary">
															<small>Export</small>
															<img src="{% static 'Img/Icon-Export.svg' %}" alt=""
																class="col" style="max-height: 30px;">
														</div>
													</div>
													<br>
													<h5 class="Color-Secondary">Property</h5>
													<small>Last Updated on June 01, 2022</small>
													<br>
													<br>
													<div class="row Color-Primary	">
														<small class="col-9 ">MYR 850,000 / MYR 3,370,000</small>
														<small class="col-3 text-end">25.2%</small>
													</div>

													<div class="progress mt-1">
														<div class="progress-bar Bg-Primary" role="progressbar"
															style="width: 0%" aria-valuenow="0" aria-valuemin="0"
															aria-valuemax="100"></div>
													</div><br>
													<!-- Property #1 -->
													<div>
														<small class="Color-Secondary">#1</small><br>
														<small>Property Type: Residential</small><br>
														<small>Residential Type: Landed </small><br>
														<small>SPA Price: MYR 850,000</small><br>
													</div>

													<div class="mt-3">
														<a class="btn Btn-Secondary-2" href="#" role="button">Edit</a>
													</div>
													<br>
													<!-- Upload Documents -->
													<div>
														<label class="form-label" for="customFile"> Upload Relevant
															Documents</label>
														<input type="file" class="form-control" id="customFile"
															multiple /> <br>
														<input type="submit">
													</div>
												</div>
											</div>
										</div>

										<!-- Vehicles -->
										<div class="col-lg-4 mb-5">
											<div class="card bg-light border-0 h-100">
												<div class="card-body text-start p-4 p-lg-4 pt-0 pt-lg-0">
													<div class="row align-items-center pt-4 ">
														<small class="col Color-Primary">1/11 Assets</small>
														<div class="col text-end Color-Primary">
															<small>Export</small>
															<img src="{% static 'Img/Icon-Export.svg' %}" alt=""
																class="col" style="max-height: 30px;">
														</div>
													</div>
													<br>
													<h5 class="Color-Secondary">Vehicles</h5>
													<small>Last Updated on June 01, 2022</small>
													<br>
													<br>
													<div class="row Color-Primary	">
														<small class="col-9 ">MYR 150,000 / MYR 3,370,000</small>
														<small class="col-3 text-end">4.5%</small>
													</div>

													<div class="progress mt-1">
														<div class="progress-bar Bg-Primary" role="progressbar"
															style="width: 0%" aria-valuenow="0" aria-valuemin="0"
															aria-valuemax="100"></div>
													</div><br>
													<!-- Vehicles #1 -->
													<div>
														<small class="Color-Secondary">#1</small><br>
														<small>Vehicle Type: Car</small><br>
														<small>Vehicle Registration Number: A1234567 </small><br>
														<small>Vehicle Make & Model: Honda Accord </small><br>
														<small>Car Price: MYR 150,000</small><br>
													</div>

													<div class="mt-3">
														<a class="btn Btn-Secondary-2" href="#" role="button">Edit</a>
													</div>
													<br>
													<!-- Upload Documents -->
													<div>
														<label class="form-label" for="customFile"> Upload Relevant
															Documents</label>
														<input type="file" class="form-control" id="customFile"
															multiple /> <br>
														<input type="submit">
													</div>

												</div>
											</div>
										</div>

										<!-- Others -->
										<div class="col-lg-4 mb-5">
											<div class="card bg-light border-0 h-100">
												<div class="card-body text-start p-4 p-lg-4 pt-0 pt-lg-0">
													<div class="row align-items-center pt-4 ">
														<small class="col Color-Primary">1/11 Assets</small>
														<div class="col text-end Color-Primary">
															<small>Export</small>
															<img src="{% static 'Img/Icon-Export.svg' %}" alt=""
																class="col" style="max-height: 30px;">
														</div>
													</div>
													<br>
													<h5 class="Color-Secondary">Others</h5>
													<small>Last Updated on June 01, 2022</small>
													<br>
													<br>
													<div class="row Color-Primary	">
														<small class="col-10 ">MYR 50,000 / MYR 3,370,000</small>
														<small class="col-2 text-end">1.5%</small>
													</div>

													<div class="progress mt-1">
														<div class="progress-bar Bg-Primary" role="progressbar"
															style="width: 0%" aria-valuenow="0" aria-valuemin="0"
															aria-valuemax="100"></div>
													</div><br>
													<!-- Others #1 -->
													<div>
														<small class="Color-Secondary">#1</small><br>
														<small>Asset Type: Cryptocurrency</small><br>
														<small>Asset Value: MYR 100,000</small><br>
													</div>

													<div class="mt-3">
														<a class="btn Btn-Secondary-2" href="#" role="button">Edit</a>
													</div>
													<br>
													<!-- Upload Documents -->
													<div>
														<label class="form-label" for="customFile"> Upload Relevant
															Documents</label>
														<input type="file" class="form-control" id="customFile"
															multiple /> <br>
														<input type="submit">
													</div>
												</div>
											</div>
										</div>


									</div>
								</div>
							</section>








						</div>

					</div>

				</div>

			</div>
		</section>
	</form>
</div>

<!-- ChartJS Libray -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- ChartJS DataLabel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.1.0/chartjs-plugin-datalabels.min.js"
	integrity="sha512-Tfw6etYMUhL4RTki37niav99C6OHwMDB2iBT5S5piyHO+ltK2YX8Hjy9TXxhE1Gm/TmAV0uaykSpnHKFIAif/A=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Asset Chart Setting -->
<script>
	// setup 
	const data = {
		labels: ['Bank', 'EPF/SOCSO', 'Insurance', 'Investment', 'Property', 'Vehicles', 'Others'],
		datasets: [{
			label: 'Asset Value',
			data: [120, 100, 200, 0, 850, 150, 100],
			backgroundColor: [
				'#e63a54',
				'#d8f4ff',
				"#110f48",
				"gray",
				"#55BCB9",
				"#8f1346",
				"#ffba00"
			],
			borderColor: [
				'#e63a54',
				'#d8f4ff',
				"#110f48",
				"gray",
				"#55BCB9",
				"#8f1346",
				"#ffba00"
			],
			borderWidth: 1,
			cutout: '90%',
			borderRadius: 10,
			offset: 0,
		}]
	};

	// doughnutLabelsLine plugin
	const doughnutLabelsLine = {
		id: 'doughnutLabelsLine',
		afterDraw(chart, args, options) {
			const { ctx, chartArea: { top, bottom, left, right, width, height } } = chart;

			chart.data.datasets.forEach((dataset, i) => {

				chart.getDatasetMeta(i).data.forEach((datapoint, index) => {
					// console.log(chart.data.labels)
					const { x, y } = datapoint.tooltipPosition();
					// ctx.fillStyle = dataset.borderColor[index];
					// ctx.fill();
					// // ctx.fillRect(x, y, 2, 2);
					// console.log(x)

					//draw line
					const halfwidth = width / 2;
					const halfheight = height / 2;

					const xLine = x >= halfwidth ? x + 15 : x - 15;
					const yLine = y >= halfheight ? y + 15 : y - 15;
					const extraLine = x >= halfwidth ? 15 : -15;
					//line	
					ctx.beginPath();
					ctx.moveTo(x, y);
					ctx.lineTo(xLine, yLine);
					ctx.lineTo(xLine + extraLine, yLine);
					ctx.strokeStyle = dataset.borderColor[index];
					ctx.stroke();

					//text
					const textWidth = ctx.measureText(chart.data.labels[index]).width;
					console.log(textWidth)
					ctx.font = '14px Arial';

					//control position
					const textXPosition = x >= halfwidth ? 'left' : 'right';
					const plusFifteenPx = x >= halfwidth ? 5 : -5;
					ctx.textAlign = textXPosition;
					ctx.textBaseline = 'middle';
					ctx.fillStyle = dataset.borderColor[index];

					// Sum of datasets
					datasum = chart.data.datasets[0].data.reduce((partialSum, a) => partialSum + a, 0)

					//Convert
					data_percentage = (chart.data.datasets[0].data[index] / datasum * 100).toFixed(2) + '%'
					ctx.fillText(data_percentage, xLine + extraLine + plusFifteenPx, yLine);

				})
			})
		}
	}



	// config 
	const config = {
		type: 'doughnut',
		data,
		options: {
			layout: {
				padding: 20
			},
			maintainAspectRatio: false,
			plugins: {
				legend: {
					display: true,
					position: 'bottom'
				},
			}
		},

		plugins: [doughnutLabelsLine],

	};

	// render init block
	const AssetChart = new Chart(
		document.getElementById('AssetChart'),
		config
	);
</script>

{% endblock %}