{% extends "backend/base.html" %}
{% load static %}

{% block extrahead %}
<!-- STYLE CSS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/style-SignUp.css">
<!-- Steps CSS and JS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/steps.css">
{% endblock %}

{% block content %}
<!-- Start Wrapper -->
<div class="wrapper BG-Blue pb-5">
	<!-- Start Container -->
	<div class="inner col-12 col-lg-10 m-auto">
		<!-- Column 1 -->
		<div class="form-content col-12 col-lg-9 px-lg-0 pb-5 mx-auto">
			<div class="form-header">
				<h2 class="mb-1 Color-Secondary">Edit Assets</h2>
			</div>

			<!-- Left Column Inner Column -->
			<div class="inner pb-5">
				<!-- Form Div -->
				<div class="form-content w-100 pb-3">
					<!-- Form -->
					<form method="post" class="Assets">
						{% csrf_token %}
						<!-- Start Insurance Div-->
						<div class="mb-5">
							<!-- Start Information -->
							<div class="answer">
								<h5>Applicable Insurance #1</h5><BR>
								<div class=" answer form-row Btn-Radio">
									<div class=" answer col-6 col-lg-6">
										<input type="radio" id="control_01" name="insurance_type" value="Life" {% if insurance_type == 'Life' %} checked {% endif %}>
										<label for="control_01">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												fill="currentColor" class="bi bi-arrow-through-heart"
												viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l.53-.53c-.771-.802-1.328-1.58-1.704-2.32-.798-1.575-.775-2.996-.213-4.092C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182a21.86 21.86 0 0 1-2.685-2.062l-.539.54V14a.5.5 0 0 1-.146.354l-1.5 1.5Zm2.893-4.894A20.419 20.419 0 0 0 8 12.71c2.456-1.666 3.827-3.207 4.489-4.512.679-1.34.607-2.42.215-3.185-.817-1.595-3.087-2.054-4.346-.761L8 4.62l-.358-.368c-1.259-1.293-3.53-.834-4.346.761-.392.766-.464 1.845.215 3.185.323.636.815 1.33 1.519 2.065l1.866-1.867a.5.5 0 1 1 .708.708L5.747 10.96Z" />
											</svg>
											<h6>Life</h6>
										</label>
									</div>
									<div class=" answer mx-2 col-6 col-lg-6">
										<input type="radio" id="control_03" name="insurance_type" value="Medical" {% if insurance_type == 'Medical' %} checked {% endif %}>
										<label for="control_03">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												fill="currentColor" class="bi bi-prescription2" viewBox="0 0 16 16">
												<path d="M7 6h2v2h2v2H9v2H7v-2H5V8h2V6Z" />
												<path fill-rule="evenodd"
													d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v10.5a1.5 1.5 0 0 1-1.5 1.5h-7A1.5 1.5 0 0 1 3 14.5V4a1 1 0 0 1-1-1V1Zm2 3h8v10.5a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5V4ZM3 3V1h10v2H3Z" />
											</svg>
											<h6>Medical</h6>
										</label>
									</div>
								</div>
								<div class="answer form-row Btn-Radio">
									<div class="col-6 col-lg-6">
										<input type="radio" id="control_05" name="insurance_type" value="General" {% if insurance_type == 'General' %} checked {% endif %}>
										<label for="control_05">

											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												fill="currentColor" class="bi bi-house-heart" viewBox="0 0 16 16">
												<path
													d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982Z" />
												<path
													d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
											</svg>
											<h6>General</h6>
										</label>
									</div>
								</div><br>
								<br>

								<div class="answer form-row Btn-Radio flex-row flex-wrap flex-lg-nowrap">
									<div class="col-lg-6 col-12 mb-5 mb-lg-0">
										<h5>Insurance Provider</h5><br>
										<select name="provider" id="provider" class="px-4">
											<option value="">Select A Provider</option>
											<option selected value="AIA Berhad">AIA Berhad</option>
											<option value="AIA General Berhad">AIA General Berhad</option>
											<option value="AIA PUBLIC Takaful Berhad">AIA PUBLIC Takaful Berhad</option>
											<option value="AIG Malaysia Insurance Berhad">AIG Malaysia Insurance Berhad
											</option>
											<option value="Allianz General Insurance Company (Malaysia) Berhad">Allianz
												General Insurance Company (Malaysia) Berhad</option>
											<option value="Allianz Life Insurance Malaysia Berhad">Allianz Life
												Insurance Malaysia Berhad</option>
											<option value="AmGeneral Insurance Berhad">AmGeneral Insurance Berhad
											</option>
											<option value="AmMetLife Insurance Berhad">AmMetLife Insurance Berhad
											</option>
											<option value="AmMetLife Takaful Berhad">AmMetLife Takaful Berhad</option>
											<option value="AXA Affin General Insurance Berhad">AXA Affin General
												Insurance Berhad</option>
											<option value="AXA Affin Life Insurance Berhad">AXA Affin Life Insurance
												Berhad</option>
											<option value="Berjaya Sompo Insurance Berhad">Berjaya Sompo Insurance
												Berhad</option>
											<option value="Chubb Insurance Malaysia Berhad">Chubb Insurance Malaysia
												Berhad</option>
											<option value="Danajamin Nasional Berhad">Danajamin Nasional Berhad</option>
											<option value="Etiqa Family Takaful Berhad">Etiqa Family Takaful Berhad
											</option>
											<option value="Etiqa General Insurance Berhad">Etiqa General Insurance
												Berhad</option>
											<option value="Etiqa General Takaful Berhad">Etiqa General Takaful Berhad
											</option>
											<option value="Etiqa Life Insurance Berhad">Etiqa Life Insurance Berhad
											</option>
											<option value="FWD Takaful Berhad">FWD Takaful Berhad</option>
											<option value="Gibraltar BSN Life Berhad">Gibraltar BSN Life Berhad</option>
											<option value="Great Eastern General Insurance (Malaysia) Berhad">Great
												Eastern General Insurance (Malaysia) Berhad</option>
											<option value="Great Eastern Life Assurance (Malaysia) Berhad">Great Eastern
												Life Assurance (Malaysia) Berhad</option>
											<option value="Great Eastern Takaful Berhad">Great Eastern Takaful Berhad
											</option>
											<option value="Hong Leong Assurance Berhad">Hong Leong Assurance Berhad
											</option>
											<option value="Hong Leong MSIG Takaful Berhad">Hong Leong MSIG Takaful
												Berhad</option>
											<option value="Liberty Insurance Berhad">Liberty Insurance Berhad</option>
											<option value="Lonpac Insurance Berhad">Lonpac Insurance Berhad</option>
											<option value="Manulife Insurance Berhad">Manulife Insurance Berhad</option>
											<option value="MCIS Insurance Berhad">MCIS Insurance Berhad</option>
											<option value="MPI Generali Insurans Berhad">MPI Generali Insurans Berhad
											</option>
											<option value="MSIG Insurance (Malaysia) Bhd">MSIG Insurance (Malaysia) Bhd
											</option>
											<option value="Pacific & Orient Insurance Co. Berhad">Pacific & Orient
												Insurance Co. Berhad</option>
											<option value="Pacific Insurance Berhad">Pacific Insurance Berhad</option>
											<option value="Progressive Insurance Berhad">Progressive Insurance Berhad
											</option>
											<option value="Prudential Assurance Malaysia Berhad">Prudential Assurance
												Malaysia Berhad</option>
											<option value="Prudential BSN Takaful Berhad">Prudential BSN Takaful Berhad
											</option>
											<option value="QBE Insurance (Malaysia) Berhad">QBE Insurance (Malaysia)
												Berhad</option>
											<option value="RHB Insurance Berhad">RHB Insurance Berhad</option>
											<option value="Sun Life Malaysia Assurance Berhad">Sun Life Malaysia
												Assurance Berhad</option>
											<option value="Syarikat Takaful Malaysia Am Berhad">Syarikat Takaful
												Malaysia Am Berhad</option>
											<option value="Syarikat Takaful Malaysia Keluarga Berhad">Syarikat Takaful
												Malaysia Keluarga Berhad</option>
											<option value="Takaful Ikhlas Family Berhad">Takaful Ikhlas Family Berhad
											</option>
											<option value="Takaful Ikhlas General Berhad">Takaful Ikhlas General Berhad
											</option>
											<option value="Tokio Marine Insurance (Malaysia) Berhad">Tokio Marine
												Insurance (Malaysia) Berhad</option>
											<option value="Tokio Marine Life Insurance Malaysia Bhd">Tokio Marine Life
												Insurance Malaysia Bhd</option>
											<option value="Tune Insurance Malaysia Berhad">Tune Insurance Malaysia
												Berhad</option>
											<option value="Zurich General Insurance Malaysia Berhad">Zurich General
												Insurance Malaysia Berhad</option>
											<option value="Zurich General Takaful Malaysia Berhad">Zurich General
												Takaful Malaysia Berhad</option>
											<option value="Zurich Life Insurance Malaysia Berhad">Zurich Life Insurance
												Malaysia Berhad</option>
											<option value="Zurich Takaful Malaysia Berhad">Zurich Takaful Malaysia
												Berhad</option>

										</select>

									</div>

<div class="mx-1 mt-5 mt-lg-0 col-lg-6 col-12 mb-5 mb-lg-0">
										<h5>Policy Number</h5><br>
										<input type="text" name="policy_no" id="" placeholder="{{policy_no}}" class="px-4" value="{{policy_no}}">
										{% if form.errors %}
										<div class="px-4" style="color:red">{{ form.policy_no.errors }}</div>
										{% endif %}
									</div>

									<!-- <div class="mx-1 col-lg-6 col-12 mt-5 mt-lg-0">
										<h5>Provider Name</h5><br>
										<input type="text" name="provider_name_custom" id="" placeholder="{{provider_name}}"
											class="px-4 insurance-name">
									</div> -->

								</div><br><br>
								<div class="answer form-row Btn-Radio flex-row flex-wrap flex-lg-nowrap">
									

									<div class="col-lg-6 col-12 mt-5 mt-lg-0">
										<h5>Nominee Details</h5><br>
										<input type="text" name="nominee_name" id="" placeholder="{{nominee_name}}" class="px-4"value="{{nominee_name}}">
									</div>
									<div class="mx-1 mt-5 mt-lg-0 col-lg-6 col-12">
										<h5>Sum Insured</h5><br>
										<input type="number" name="sum_insured" id="" placeholder="{{sum_insured}}"
											class="px-4 form-control" value="{{sum_insured}}">
									</div>


								</div>
								<br><br>
							
							</div>
							<!-- End Information -->	
							<!-- End 2nd form -->
						</div>
						<!-- End Insurance Div-->

						<!-- Button -->
						<div class="mt-5">
							<a class="btn Btn-Secondary-2 mt-5" href="{% url 'dashboard-new' %}" role="button">Back</a>
	<a class="btn Btn-Secondary-2 mt-5" href="{% url 'assets-insurance-deleteform' instance.uuid %}"
								role="button">Delete</a>
							<button class="btn Btn-Primary mt-5 float-end"type="submit">SAVE</button>

						</div>
					</form>
					<!-- End Form -->
				</div>
				<!-- End Form Div-->
			</div>
			<!-- End Left Column Inner Column -->
		</div>
		<!-- End Column 1 -->
		<!-- Start Column 2 -->
		{% include 'backend/onboarding-assets-sidebar.html' %}
	</div>
	<!-- End Container -->
</div>
<!-- End Wrapper -->
<script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
{% endblock %}