{% extends "backend/base.html" %}
{% load static %}

{% block extrahead %}
<!-- STYLE CSS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/style-SignUp.css">
<!-- Steps CSS and JS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/steps.css">
{% endblock %}

{% block content %}
<!-- Start Wrapper -->
<div class="wrapper BG-Blue pb-5">
	<!-- Start Container -->
	<div class="inner col-12 col-lg-10 m-auto">
		<!-- Column 1 -->
		<div class="form-content colsdafads-12 col-lg-9 px-lg-0 pb-5 mx-auto">
			<div class="form-header">
				<h2 class="mb-1 Color-Secondary">Edit Liabilities</h2>
			</div>



			<!-- Left Column Inner Column -->
			<div class="inner pb-5">
				<!-- Form Div -->
				<div class="form-content w-100 pb-3">
					<!-- Form -->
					<form method="post" class="Assets needs-validation" novalidate>
						{% csrf_token %}
						<!-- Start EPF Div-->
						<!-- Information -->
						<!-- Vehicles Loan -->
						<!-- Vehicles Loan -->
						<DIV class="mb-5">
							<!-- Personal Loan #1 -->
							<div>
								<h5 class="answer text-black">Property Mortgage</h5>
								<div class="form-row Btn-Radio flex-row flex-wrap flex-lg-nowrap">
									<div class="answer mb-5 mb-lg-0 col-lg-6 col-12">
										<h5>Bank Name</h5><br>
										<select name="bank_name" id="bank_name" class="px-4">
											<option {% if bank_name == "Select A Bank" %} selected {% endif %} value="">Select A Bank</option>
											<option {% if bank_name == "AEON Credit Service (M) Berhad" %} selected {% endif %} value="AEON Credit Service (M) Berhad">AEON Credit Service (M) Berhad</option>
											<option {% if bank_name == "Affin Bank Berhad" %} selected {% endif %} value="Affin Bank Berhad">Affin Bank Berhad</option>
											<option {% if bank_name == "Affin Islamic Bank Berhad" %} selected {% endif %} value="Affin Islamic Bank Berhad">Affin Islamic Bank Berhad</option>
											<option {% if bank_name == "Alliance Bank Malaysia Berhad" %} selected {% endif %} value="Alliance Bank Malaysia Berhad">Alliance Bank Malaysia Berhad</option>
											<option {% if bank_name == " Al Rajhi Banking & Investment Corporation (Malaysia) Berhad" %} selected {% endif %} value="Al Rajhi Banking & Investment Corporation (Malaysia) Berhad"> Al Rajhi Banking & Investment Corporation (Malaysia) Berhad</option>
											<option {% if bank_name == "AmBank (M) Berhad" %} selected {% endif %} value="AmBank (M) Berhad">AmBank (M) Berhad</option>
											<option {% if bank_name == "AmBank Islamic Berhad" %} selected {% endif %} value="AmBank Islamic Berhad">AmBank Islamic Berhad</option>
											<option {% if bank_name == "Bank Islam Malaysia Berhad (BIMB)" %} selected {% endif %} value="Bank Islam Malaysia Berhad (BIMB)">Bank Islam Malaysia Berhad (BIMB)</option>
											<option {% if bank_name == "Bank Kerjasama Rakyat Malaysia Berhad (Bank Rakyat)" %} selected {% endif %} value="Bank Kerjasama Rakyat Malaysia Berhad (Bank Rakyat)">Bank Kerjasama Rakyat Malaysia Berhad (Bank Rakyat)</option>
											<option {% if bank_name == "Bank Muamalat Malaysia Berhad" %} selected {% endif %} value="Bank Muamalat Malaysia Berhad">Bank Muamalat Malaysia Berhad</option>
											<option {% if bank_name == "Bank of America Malaysia Berhad" %} selected {% endif %} value="Bank of America Malaysia Berhad">Bank of America Malaysia Berhad</option>
											<option {% if bank_name == "Bank of China (Malaysia) Berhad" %} selected {% endif %} value="Bank of China (Malaysia) Berhad">Bank of China (Malaysia) Berhad</option>
											<option {% if bank_name == "Bank Pertanian Malaysia Berhad (Agrobank)" %} selected {% endif %} value="Bank Pertanian Malaysia Berhad (Agrobank)">Bank Pertanian Malaysia Berhad (Agrobank)</option>
											<option {% if bank_name == "Bank Simpanan Nasional" %} selected {% endif %} value="Bank Simpanan Nasional">Bank Simpanan Nasional</option>
											<option {% if bank_name == "CIMB Bank Berhad" %} selected {% endif %} value="CIMB Bank Berhad">CIMB Bank Berhad</option>
											<option {% if bank_name == "CIMB Islamic Bank Berhad" %} selected {% endif %} value="CIMB Islamic Bank Berhad">CIMB Islamic Bank Berhad</option>
											<option {% if bank_name == "Citibank Berhad" %} selected {% endif %} value="Citibank Berhad">Citibank Berhad</option>
											<option {% if bank_name == "Deutsche Bank (Malaysia) Berhad" %} selected {% endif %} value="Deutsche Bank (Malaysia) Berhad">Deutsche Bank (Malaysia) Berhad</option>
											<option {% if bank_name == "Hong Leong Bank Berhad" %} selected {% endif %} value="Hong Leong Bank Berhad">Hong Leong Bank Berhad</option>
											<option {% if bank_name == "HSBC Amanah Malaysia Berhad" %} selected {% endif %} value="HSBC Amanah Malaysia Berhad">HSBC Amanah Malaysia Berhad</option>
											<option {% if bank_name == "HSBC Bank Malaysia Berhad" %} selected {% endif %} value="HSBC Bank Malaysia Berhad">HSBC Bank Malaysia Berhad</option>
											<option {% if bank_name == "Industrial and Commercial Bank of China (Malaysia) Berhad" %} selected {% endif %} value="Industrial and Commercial Bank of China (Malaysia) Berhad">Industrial and Commercial Bank of China (Malaysia) Berhad</option>
											<option {% if bank_name == "J.P. Morgan Chase Bank Berhad" %} selected {% endif %} value="J.P. Morgan Chase Bank Berhad">J.P. Morgan Chase Bank Berhad</option>
											<option {% if bank_name == "Kuwait Finance House" %} selected {% endif %} value="Kuwait Finance House">Kuwait Finance House</option>
											<option {% if bank_name == "Malayan Banking Berhad" %} selected {% endif %} value="Malayan Banking Berhad">Malayan Banking Berhad</option>
											<option {% if bank_name == "Maybank Islamic Berhad" %} selected {% endif %} value="Maybank Islamic Berhad">Maybank Islamic Berhad</option>
											<option {% if bank_name == "OCBC Bank (Malaysia) Berhad" %} selected {% endif %} value="OCBC Bank (Malaysia) Berhad">OCBC Bank (Malaysia) Berhad</option>
											<option {% if bank_name == "Public Bank Berhad" %} selected {% endif %} value="Public Bank Berhad">Public Bank Berhad</option>
											<option {% if bank_name == "Public Islamic Bank Berhad" %} selected {% endif %} value="Public Islamic Bank Berhad">Public Islamic Bank Berhad</option>
											<option {% if bank_name == "RHB Bank Berhad" %} selected {% endif %} value="RHB Bank Berhad">RHB Bank Berhad</option>
											<option {% if bank_name == "RHB Islamic Bank Berhad" %} selected {% endif %} value="RHB Islamic Bank Berhad">RHB Islamic Bank Berhad</option>
											<option {% if bank_name == "Standard CharteredBank Malaysia Berhad" %} selected {% endif %} value="Standard Chartered Bank Malaysia Berhad">Standard CharteredBank Malaysia Berhad</option>
											<option {% if bank_name == "United Overseas Bank(Malaysia) Berhad" %} selected {% endif %} value="United Overseas Bank (Malaysia) Berhad">United Overseas Bank(Malaysia) Berhad</option>


										</select>
									</div>
									<div class="answer mt-5 mt-lg-0 col-lg-6 col-12 mx-1">
										<h5>Account Number</h5><br>
										<input type="text" name="account_no" id="" placeholder="{{account_no}}" value="{{account_no}}" class="px-4">
									</div>
								</div>
								<br><br><br>
								<div class="answer form-row Btn-Radio flex-row flex-wrap flex-lg-nowrap">
									<div class="mb-5 mb-lg-0 col-lg-6 col-12">
										<h5>Loan Amount</h5><br>
										<input type="number" name="loan_amount" id="" placeholder="{{loan_amount}}" value="{{loan_amount}}"
											class="px-4 form-control">
									</div>
									<div class="answer mt-5 mt-lg-0 col-lg-6 col-12 mx-1">
										<h5>Loan Tenure</h5><br>
										<input type="text" name="loan_tenure" id="" placeholder="{{loan_tenure}}" value="{{loan_tenure}}"class="px-4">
									</div>
								</div>

								<br>
								<br>
								<br>
								<!-- Billing Cycle Toggle -->
							</div>

							<!-- Button -->
							<div class="mt-5">
								<a class="btn Btn-Secondary-2 mt-5" href="{% url 'dashboard-new' %}"
									role="button">Back</a>
									<button class="btn Btn-Primary mt-5 float-end"type="submit">SAVE</button>
							</div>
					</form>
					<!-- End Form -->
				</div>
				<!-- End Form Div-->
			</div>
			<!-- End Left Column Inner Column -->
		</div>
		<!-- End Column 1 -->
	</div>
	<!-- Start Column 2 -->
	{% include 'backend/onboarding-liabilities-sidebar.html' %}
</div>
<!-- End Container -->
</div>
<!-- End Wrapper -->
<script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
{% endblock %}