{% extends 'backend/base.html' %}
{% block extrahead %}
<!-- STYLE CSS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/style-SignUp.css">
<!-- Steps CSS and JS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/steps.css">
{% endblock %}
{% block content %}
<div class="form-row Btn-Radio">
                                    <!-- Start Input -->
                                    <div class="col-6 col-lg-6">
                                        <input class="unhide_answer" type="radio" name="yesno" id="yesno" value="yes"
                                            checked>
                                        <label for="yesno">
                                            <h6>Yes</h6>
                                        </label>

                                    </div>
                                    <!-- End Input -->
                                    <!-- Start Input -->
                                    <div class="col-6 col-lg-6 mx-1">
                                        <input class="hide_answer" type="radio" name="yesno" id="yesno2" value="no">
                                        <label for="yesno2">
                                            <h6>No</h6>
                                        </label>
                                    </div>
                                    <!-- End Input -->
</div>
<div class="container p-4">
  <form class="form-horizontal" method="POST" action="">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
    <div class="row form-row">
      <div class="col-12">
      	<label>{{form.account_type.label}}</label>
      	<div class="input-group Btn-Radio">
      	{% for radio in form.account_type %}
      	 <div class="px-2">
            {{radio.tag}}
          	<label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
          </div>
        {% endfor %}
        </div>
        <small class="text-danger">{{ form.account_type.errors }}</small>
      </div>
        <!-- Process each form fields manually -->
      <div class="col-4">
        <label for="{{ form.bank_name.id_for_label }}">{{form.bank_name.label}}</label>
        {{form.bank_name}}
        <small class="text-danger">{{ form.bank_name.errors }}</small>
      </div>

      <div class="col-4">
        <label for="{{ form.account_no.id_for_label }}">{{form.account_no.label}}</label>
        {{form.account_no}}
        <small class="text-danger">{{ form.account_no.errors }}</small>
      </div>

      <div class="col-4">
        <label for="{{ form.account_value.id_for_label }}">{{form.account_value.label}}</label>
        {{form.account_value}}
        <small class="text-danger">{{ form.account_value.errors }}</small>
      </div>
        <!-- Process each form fields manually -->
        <!-- Add/remove additional forms-->
      <div class="col-1 d-flex">
        {% if forloop.last %}
          <button class="btn btn-success add-form-row mt-auto">+</button>
        {% else %}
          <button class="btn btn-danger remove-form-row mt-auto">-</button>
        {% endif %}
      </div>
      <!-- Add/remove additional forms-->

    </div>
    {% endfor %}
    <!-- Submit Button -->
    <div class="row spacer">
        <div class="col-4 offset-2">
            <button type="submit" class="btn btn-block btn-primary">Save</button>
        </div>
    </div>
    <!-- Submit Button -->
  </form>
</div>
{% endblock %}
