{% extends "backend/base.html" %}
{% load static %}


{% block content %}

<body>
  <div class="HeroBanner">
    <div class="cont">
      <div class="row flex w-75 mx-auto">
        <div class="col-lg-5 col-sm-12">
          <hr class="d-none d-lg-block" style="height:30pt; visibility:hidden;" />
          <hr class="d-lg-none" style="height:50pt; visibility:hidden;" />
          <h2>We are on a mission to create a financially secure future for Women</h2>
          <br>

          <p><small>Wahine Capital is helping individuals to start their financial freedom journey through creating
              awareness
              and knowledge. Increae your knowledge, increase your wealth.</small> </p>
          <a class="btn Btn-Primary" href="/joinnow" role="button">Begin For Free</a>

        </div>

        <div class="col-lg-7 col-sm-12">
          <!-- hide on small -->
          <hr class="d-none d-lg-block" style="height: 30pt; visibility:hidden;" />
          <!-- hide on large -->
          <hr class="d-lg-none" style="height: 10pt; visibility:hidden;" />
        </div>
      </div>
    </div>
  </div>
  </div>


  <div class="Section3" style="">
    <div class="row">
      <div class="BG-Blue flex">
        {% load static %}
        <img class="Image-Centered img-fluid" src="https://wahine.s3.amazonaws.com/static/FlatBrowser.png" alt="">
      </div>

    </div>



  </div>
  </div>



  <!-- The Right Team -->
  <div class="Section6">
    <div class="Text-Center Width-50P">
      <h4>The Right Team</h4>
      <p style="margin-top: 15px;">Over 50 collective years of experience in capital markets, regulatory and human
        rights activism.
      </p>
    </div>
  </div>

  <!-- Founders Profile -->
  <div class="Section7">
    <div class="Founders-Images container">
      <div class="row justify-content-center">

        <div class="col-lg-4">
          <img src="https://wahine.s3.amazonaws.com/static/Img_Founder1.png" alt="">
          <p>Regina Rahim</p>
          <p>Managing Founder</p>
          <small>24 years in Investment Management
            Ex-MD Nomura Asset Management, MY
          </small>
        </div>
        <hr class="d-lg-none" style="height:150px; visibility:hidden;" />
        <div class="offset-lg-1 col-lg-4">
          <img src="https://wahine.s3.amazonaws.com/static/Img_Sherry_Rounded.png" alt="">
          <p>Sherry Sheriff</p>
          <p>Co Founder</p>
          <small>Women rights subject matter expert & Ex Regulator with Securities Commission Malaysia
          </small>
        </div>
      </div>
    </div>
  </div>

  <!-- Our Partners -->
  <div class="Section8">
    <div class="Text-Center Width-50P">
      <h4>Our Partners</h4>
    </div>
    <div class="Partners-Logos row" style="margin-top:20px;margin-bottom: 80px;">
      <img src="https://wahine.s3.amazonaws.com/static/Logo_Partner1_Pewarisan.png" alt="" class="col-lg-2 col-6">
      <img src="https://wahine.s3.amazonaws.com/static/Logo_Partner2_FPAM.png" alt="" class="col-lg-2 col-6">
      <img src="https://wahine.s3.amazonaws.com/static/Logo_Partner3_UWealth.png" alt="" class="col-lg-2 col-6">
      <img src="https://wahine.s3.amazonaws.com/static/Logo_Partner4_MM.png" alt="" class="col-lg-2 col-6">
      <img src="https://wahine.s3.amazonaws.com/static/Logo_Partner5_ROR.png" alt="" class="col-lg-2 col-6">
      <img src="https://wahine.s3.amazonaws.com/static/Logo_Partner6_REU.png" alt="" class="col-lg-2 col-6">
    </div>
  </div>

  <!-- Our Women Network -->
  <!-- Page Content-->
  <!-- Header-->
  <header class="pt-5">
    <div class="container px-lg-5">
      <div class="pt-5 pb-5  Bg-WomenNetwork rounded-3 text-center">
        <div class="m-4 m-lg-5 text-white">
          <h3 class="fw-bold">Our Women Network</h3>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
          <a class="btn Btn-Secondary" href="#!">Call to action</a>
        </div>
      </div>
    </div>
  </header>

  <section class="pt-4">
    <div class="container px-lg-5 mt-4">
      <!-- Page Features-->
      <div class="row">
        <div class="col-lg-3 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div class="feature Bg-Primary text-white rounded-3 mb-4 Icon-WomenNetwork p-3 mx-auto"><i
                  class="bi bi-collection"></i>
              </div>
              <h2 class="fs-4 fw-bold">Psychology</h2>
              <p class="mb-0 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div class="feature Bg-Primary text-white rounded-3 mb-4 Icon-WomenNetwork p-3 mx-auto"><i
                  class="bi bi-cloud-download"></i></div>
              <h2 class="fs-4 fw-bold">Commercial Disputes</h2>
              <p class="mb-0 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div class="feature Bg-Primary text-white rounded-3 mb-4 Icon-WomenNetwork p-3 mx-auto"><i
                  class="bi bi-card-heading"></i></div>
              <h2 class="fs-4 fw-bold">Financial Literacy</h2>
              <p class="mb-0 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div class="feature Bg-Primary text-white rounded-3 mb-4 Icon-WomenNetwork p-3 mx-auto"><i
                  class="bi bi-bootstrap"></i></div>
              <h2 class="fs-4 fw-bold">Parenting</h2>
              <p class="mb-0 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div class="feature Bg-Primary text-white rounded-3 mb-4 Icon-WomenNetwork p-3 mx-auto"><i
                  class="bi bi-code"></i>
              </div>
              <h2 class="fs-4 fw-bold">Investment</h2>
              <p class="mb-0 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div class="feature Bg-Primary text-white rounded-3 mb-4 Icon-WomenNetwork p-3 mx-auto"><i
                  class="bi bi-patch-check"></i></div>
              <h2 class="fs-4 fw-bold">Economist/Competition Law</h2>
              <p class="mb-0 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div class="feature Bg-Primary text-white rounded-3 mb-4 Icon-WomenNetwork p-3 mx-auto"><i
                  class="bi bi-patch-check"></i></div>
              <h2 class="fs-4 fw-bold">Behavioral Analytics</h2>
              <p class="mb-0 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div class="feature Bg-Primary text-white rounded-3 mb-4 Icon-WomenNetwork p-3 mx-auto"><i
                  class="bi bi-patch-check"></i></div>
              <h2 class="fs-4 fw-bold">Economist/Competition Law</h2>
              <p class="mb-0 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  </div>




  <!-- Testimonial -->
  <div class="Text-Center Width-50P mb-5 mt-5">
    <h4>Testimonials</h4>
    <p style="margin-top:100px; margin-bottom: 50px ;">"Better late than never, thanks Wahine Capital! "</p>
    <div class="Testimonial">
      <img src="https://wahine.s3.amazonaws.com/static/Img_ClientTest1.png" alt="" style="max-width: 80px; max-height:80px;">
      <div style="margin-left:20px;">
        <p style="margin-bottom:0px ;">Marianna Hashim</p>
        <p>47 Years Old</p>
      </div>
    </div>
    <button class="Btn-Secondary mt-5">All Testimonial</button>
  </div>



  <!-- Pricing -->
  <!-- Section 9 -->
  <div class="container-fluid Section9 pt-5 pb-5" style="padding:0px 50px;">
    <div class="row">
      <div class="col-lg-7 offset-lg-1">
        <h4 class="pb-3">Pricing</h4>
        <p>W is your personal life manager to help you start that first steps towards a financially secure future.
        </p>
        <img src="https://wahine.s3.amazonaws.com/static/Img_UnplannedEvents.png" alt="" class="col-12 col-lg-8">
      </div>
      <hr class="d-lg-none" style="height:30px; visibility:hidden;" />
      <div class="col-lg-4">
        <p>3 Months Free For The First Few Lucky Customers</p>
        <h4 class="Color-Primary">Option 1</h4>
        <h2 style="color:#F3CD03">RM 19.90</h2>
        <p>per month</p>
        <br>
        <h4 class="Color-Primary">Option 2</h4>
        <h2 style="color:#F3CD03">RM 199.00</h2>
        <p>per annum</p>
        <p>Cancel or change your plan anytime</p>
        <a class="btn Btn-Primary" href="/joinnow" role="button">Get Started</a>
      </div>
    </div>
  </div>

  <!-- Section 10 -->
  <div class="container-fluid 
   pt-5 pb-5" style="padding:0px 50px;">
    <div class="row">
      <div class="col-lg-6 offset-lg-1">
        <h5>We focus on Women for Women</h5>
      </div>
      <div class="col-lg-5">
        <p>With Waris, you can minimise the stress of dealing with lawyers by having the necessary information
          kept
          securely and only released upon your choice of trigger events such as dementia, full body disability
          or death.
          Empower yourself today! </p>
        <a class="btn Btn-Primary" href="/joinnow" role="button">Get Started</a>
      </div>
    </div>
  </div>

</body>


{% endblock %}