{% extends "backend/base.html" %}
{% load static %}


{% block content %}

<div class="HeroBanner">
  <div class="cont">
    <div class="row flex w-75 mx-auto">
      <div class="col-lg-10 col-sm-12">
        <hr class="d-none d-lg-block" style="height:30pt; visibility:hidden;" />
        <hr class="d-lg-none" style="height:50pt; visibility:hidden;" />
        <h2 class="lh-sm text-white">Meet W Vault, your personal digital life manager designed for women by women</h2>
        <br>
          
        <a class="text-white p-0 pb-3 z-3" href="{% url 'joinnow' %}">
          <span style="text-transform: capitalize;"><small>Click here to find out more about W Vault.</small></span> 
        </a>

        <a class="btn Btn-Primary position-relative z-3" href="{% url 'joinnow' %}" role="button">Begin For Free</a>

      </div>

      <div class="col-lg-5 col-sm-12">
        <!-- hide on small -->
        <hr class="d-none d-lg-block" style="height: 30pt; visibility:hidden;" />
        <!-- hide on large -->
        <hr class="d-lg-none" style="height: 10pt; visibility:hidden;" />
      </div>
    </div>
  </div>
</div>
</div>


<div class="Section3">
  <div class="row">
    <div class="BG-Blue flex pb-4">
      {% load static %}
      <img class="Image-Centered img-fluid" src="https://wahine.s3.amazonaws.com/static/Img-Screenshot-Desktop4.svg"
        alt="">
    </div>

  </div>



</div>
</div>



<!-- The Right Team -->
<div class="Section6">
  <div class="Text-Center Width-50P">
    <h4>The Right Team</h4>
    <p class="text-center text-white" style="margin-top: 15px;">Average of 25 years of experience in capital
      markets,
      regulatory and human
      rights activism.
    </p>
  </div>
</div>

<!-- Founders Profile -->
<div class="Section7">
  <div class="Founders-Images container">
    <div class="row justify-content-center">

      <div class="col-lg-4">
        <img src="https://wahine.s3.amazonaws.com/static/Img_Founder1.png" alt="">
        <p class="text-center text-black">Rejina Rahim</p>
        <p class="text-center text-black">Managing Founder</p>
        <small>24 years in Investment Management
          Ex-MD Nomura Asset Management, Malaysia
        </small>
      </div>
      <hr class="d-lg-none" style="height:150px; visibility:hidden;" />
      <div class="offset-lg-1 col-lg-4">
        <img src="https://wahine.s3.amazonaws.com/static/Img_Founder2.png" alt="">
        <p class="text-center text-black">Sherry Sheriff</p>
        <p class="text-center text-black">Co Founder</p>
        <small>Women's rights subject matter expert & Ex Regulator with Securities Commission Malaysia
        </small>
      </div>
    </div>
  </div>
</div>

<!-- Our Partners -->
<div class="Section8">
  <div class="row Text-Center Width-50P">
    <h4>Our Partners</h4>
  </div>
  <div class="Partners-Logos row" style="margin-top:20px;margin-bottom: 80px;">
    <img src="https://wahine.s3.amazonaws.com/static/Logo_Partner1_Pewarisan.png" alt="" class="col-lg-2 col-6">
    <!-- <img src="https://wahine.s3.amazonaws.com/static/Logo_Partner2_FPAM.png" alt="" class="col-lg-2 col-6">
      <img src="https://wahine.s3.amazonaws.com/static/Logo_Partner3_UWealth.png" alt="" class="col-lg-2 col-6"> -->
    <img src="https://wahine.s3.amazonaws.com/static/Logo_Partner4_MM.png" alt="" class="col-lg-2 col-6">
    <!-- <img src="https://wahine.s3.amazonaws.com/static/Logo_Partner5_ROR.png" alt="" class="col-lg-2 col-6"> -->
    <img src="https://wahine.s3.amazonaws.com/static/Logo_Partner6_REU.png" alt="" class="col-lg-2 col-6">
    <img src="https://wahine.s3.amazonaws.com/static/Logo_Partner7_Fundaztic.png" alt="" class="col-lg-2 col-6">
  </div>
  <div class="row" style="margin-top:-60px ;">
    <div class="col-12">
      <p class="text-center text-black">And Many More To Come..</p>
    </div>
  </div>
</div>

<!-- Our Collaborations -->
<section id="partners" class="bg-white">
  <div class="container Section8">
    <div class="row">
      <div class="col text-center">
        <h4 class="mb-4 text-black">Our Achievements</h4>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-3 col-12">
        <div class="d-flex align-items-center justify-content-center">
          <img src="https://wahine.s3.amazonaws.com/static/Logo-1337.png" class="col-lg-6 col-6" alt="Partner Logo">
          <img src="https://wahine.s3.amazonaws.com/static/Logo-FWD.png" class="col-lg-6 col-6" alt="Partner Logo">
        </div>
        <div class="mt-2">
          <p class="text-center">FWD x 1337 – <span class="fw-bold">Top 10 Finalist – Jan 2023</span> </p>
        </div>
      </div>
 
      <div class="col-md-3 col-12">
        <div class="d-flex align-items-center justify-content-center">
          <img src="https://wahine.s3.amazonaws.com/static/Logo-RHB.png" class="col-lg-6 col-6" alt="Partner Logo">
        </div>
        <div class="mt-2">
          <p class="text-center">RHB Xcelerator 2023 – <span class="fw-bold">Top 28 for RHB Xcelerator Program – Jan 2023</span></p>
        </div>
      </div>
 
      <div class="col-md-3 col-12">
        <div class="d-flex align-items-center justify-content-center">
          <img src="https://wahine.s3.amazonaws.com/static/Logo-AWS.png" class="col-lg-6 col-6" alt="Partner Logo">
          <img src="https://wahine.s3.amazonaws.com/static/Logo-Tigerhall.png" class="col-lg-6 col-6" alt="Partner Logo">
        </div>
        <div class="mt-2">
          <p class="text-center">AWS x Tigerhall Womens ASEAN Program – <span class="fw-bold">Jan 2023</span></p>
        </div>
      </div>

      <div class="col-md-3 col-12">
        <div class="d-flex align-items-center justify-content-center">
          <img src="https://wahine.s3.amazonaws.com/static/Logo-Students-Not-Brides.png" class="col-lg-6 col-6" alt="Partner Logo">
          <img src="https://wahine.s3.amazonaws.com/static/Logo-Wahine.png" class="col-lg-6 col-6" alt="Partner Logo">
        </div>
        <div class="mt-2">
          <p class="text-center">Supported the fight against child marriage with <a href="https://www.instagram.com/students_not_brides/" class="p-0" style="text-transform: none;"><span class="fw-bold">#MyArt2EndChildMarriage</span></a></p>
        </div>
      </div>


    </div>
    
    

    

  </div>
</section>





<!-- Our Women Network -->
<!-- Page Content-->
<!-- Header-->
<header class="pt-5 Bg-WomenNetwork">
  <div class="container px-lg-5 ">
    <div class="pt-5 pb-5 rounded-3 text-center">
      <div class="m-4 m-lg-5 text-white">
        <h3 class="fw-bold border-0 p-0 text-white">Our Women Network</h3>
        <p class="text-center text-white">Get in touch with our panel of experts. 1st 10 mins is free*, you may arrange
          for further
          consultations directly with them.</p>
        <a class="btn Btn-Secondary" href="{% url 'contactus' %}">Get In Touch</a>
        <br><br>
        <p class="text-center text-white" style="font-size: 0.75rem!important;">*Also available for V Wault users</p>
      </div>
    </div>
  </div>
</header>

<section class="pt-4">
  <div class="container-fluid px-lg-5 mt-4">
    <!-- Page Features-->
    <div class="row">
      <div class="col-lg-4 mb-5">
        <div class="card bg-light border-0 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0 WomenNetwork">
            <div class="feature Bg-Primary text-white rounded-3 mb-4 Icon-WomenNetwork p-3 mx-auto"><i
                class="bi bi-collection"></i>
            </div>
            <h2 class="fs-4 fw-bold text-black">Psychology</h2>
            <p class="mb-0 mt-3 text-black">Azreen is a Clinical Psychologist who consults patients with
              a range of personal and
              well-being issues including diagnosed mental health conditions at The Red Clinic. Her professional goal is
              to help clients improve their well-being, functioning, relationships, and quality of life.</p>
            <p class="mb-0 mt-3 text-black"><b>Azreen Pharmy</b></p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card bg-light border-0 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0 WomenNetwork">
            <div class="feature Bg-Primary text-white rounded-3 mb-4 Icon-WomenNetwork p-3 mx-auto"><i
                class="bi bi-cloud-download"></i></div>
            <h2 class="fs-4 fw-bold text-black">Commercial Disputes</h2>
            <p class="mb-0 mt-3 text-black">Janet Chai is an advocate and solicitor of the High Court of Malaya, dealing
              with
              commercial and construction disputes. She is an accredited adjudicator with the Asian International
              Arbitration Centre. She is a regular judge at moot competitions and an active advocacy trainer with the
              Malaysian Bar Council. She is also a known speaker at legal conferences and seminars.</p>
            <p class="mb-0 mt-3 text-black"><b>Janet Chai</b></p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card bg-light border-0 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0 WomenNetwork">
            <div class="feature Bg-Primary text-white rounded-3 mb-4 Icon-WomenNetwork p-3 mx-auto"><i
                class="bi bi-card-heading"></i></div>
            <h2 class="fs-4 fw-bold text-black">Financial Literacy</h2>
            <p class="mb-0 mt-3 text-black">Jessica Wee is former banker with 13 years’ experience in stockbroking and
              private
              banking. Geared with knowledge gained through trading for her foreign institutional clients and handling
              client’s asset under management of more than RM1bil, she is now helping others to navigate the web of
              money management using investment strategies that she learnt.</p>
            <p class="mb-0 mt-3 text-black"><b> Jessica Wee</b></p>

          </div>
        </div>
      </div>
      <!-- <div class="col-lg-3 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0 WomenNetwork">
              <div class="feature Bg-Primary text-white rounded-3 mb-4 Icon-WomenNetwork p-3 mx-auto"><i
                  class="bi bi-bootstrap"></i></div>
              <h2 class="fs-4 fw-bold">Parenting</h2>
              <p class="mb-0 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div> -->
    </div>
    <div class="row">
      <div class="col-lg-4 mb-5">
        <div class="card bg-light border-0 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0 WomenNetwork">
            <div class="feature Bg-Primary text-white rounded-3 mb-4 Icon-WomenNetwork p-3 mx-auto"><i
                class="bi bi-code"></i>
            </div>
            <h2 class="fs-4 fw-bold text-black">Investment</h2>
            <p class="mb-0 mt-3 text-black">Joanne is a seasoned capital markets player with 30 years of fund management
              for
              leading financial institutions. She believes the key to success is good leadership skills and empowering
              people to achieve their individual and team goals. She constantly strives to learn new things, be it in
              her career or pursuing new hobbies and challenges!</p>
            <p class="mb-0 mt-3 text-black"><b>Joanne Lopez</b></p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card bg-light border-0 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0 WomenNetwork">
            <div class="feature Bg-Primary text-white rounded-3 mb-4 Icon-WomenNetwork p-3 mx-auto"><i
                class="bi bi-patch-check"></i></div>
            <h2 class="fs-4 fw-bold text-black">Competition Law and Economics</h2>
            <p class="mb-0 mt-3 text-black">Dr. Khatina is a leading economist and strategy advisor, with 26 year's
              experience in developing economic and public policies and investment strategy in Malaysia and ASEAN. Her
              passions are learning and building high performance teams.</p>
            <p class="mb-0 mt-3 text-black"><b> Dr. Khatina </b></p>

          </div>
        </div>
      </div>
      <!-- <div class="col-lg-3 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0 WomenNetwork">
              <div class="feature Bg-Primary text-white rounded-3 mb-4 Icon-WomenNetwork p-3 mx-auto"><i
                  class="bi bi-patch-check"></i></div>
              <h2 class="fs-4 fw-bold">Behavioral Analytics</h2>
              <p class="mb-0 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div> -->


      <div class="col-lg-4 mb-5">
        <div class="card bg-light border-0 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0 WomenNetwork">
            <div class="feature Bg-Primary text-white rounded-3 mb-4 Icon-WomenNetwork p-3 mx-auto"><i
                class="bi bi-patch-check"></i></div>
            <h2 class="fs-4 fw-bold text-black">Web 3</h2>
            <p class="mb-0 mt-3 text-black">A serial start-up investor, entrepreneur and mentor, Jasmine believes that
              with the
              advent of technology, the opportunity to democratize access to prosperity, health, information and
              education is literally at the fingertips of every individual, it is a question of choice and will.</p>
            <p class="mb-0 mt-3 text-black"><b> Jasmine Ng</b></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<br>
<br><br><br>


<!-- Testimonial v1-->
<!-- <div class="Text-Center Width-50P mb-5 mt-5 pb-5">
    <h4>Testimonials</h4>
    <p class="text-center mt-5 mb-5">"Better late than never, thanks Wahine
      Capital! "</p>
    <div class="Testimonial">
      <img src="https://wahine.s3.amazonaws.com/static/Img/Img_ClientTest1.png" alt=""
        style="max-width: 80px; max-height:80px;">
      <div style="margin-left:20px;">
        <p style="margin-bottom:0px ;">Marianna Hashim</p>
        <p>47 Years Old</p>
      </div>
    </div>
    <button class="Btn-Secondary mt-5">All Testimonial</button>
  </div> -->

<!-- Testimonial v2 -->
<div class="p-4 p-md-5 text-center text-lg-start shadow-1-strong rounded Bg-Gradient">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body m-3">
          <div class="row">
            <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
              <img src="https://wahine.s3.amazonaws.com/static/Img_ClientTest1.png"
                class="rounded-circle img-fluid shadow-1" alt="woman avatar" width="200" height="200" />
            </div>
            <div class="col-lg-8">
              <h3 class="border-0 p-0">Testimonial</h3><br>
              <p class="text-black fw-light mb-4 text-lg-start text-center">
                Better late than never, thanks Wahine Capital!
              </p>
              <p class="fw-bold lead mb-2 text-lg-start text-center text-black"><strong>Marianna Hashim</strong></p>
              <p class="fw-bold text-black mb-0 text-lg-start text-center">47 Years Old</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- Pricing -->
<!-- Section 9 -->
<div class="container-fluid Section9 pt-5 pb-5 px-5">
  <div class="row">
    <div class="col-lg-12">
      <h4 class="pb-3 text-white">Pricing</h4>
      <p class="text-white">W Vault is your personal life manager to get started on your first step towards a
        financially secure future.
      </p>
      <p class="text-white">3 months free for the first lucky 100 customers. Cancel or change your plan anytime.
      </p>
    </div>
    <div class="col-lg-6 text-white">

      <h4 class="Color-Primary">Option 1</h4>
      <h2 style="color:#F3CD03">RM 19.90</h2>
      <p class="text-white">per month</p>
      <a class="btn Btn-Primary" href="{% url 'joinnow' %}" role="button">Get Started</a>
    </div>
    <div class="col-lg-6 mt-5 mt-lg-0 ">
      <h4 class="Color-Primary">Option 2</h4>
      <h2 style="color:#F3CD03">RM 199.00</h2>
      <p class="text-white">per annum</p>
      <a class="btn Btn-Primary" href="{% url 'joinnow' %}" role="button">Get Started</a>
    </div>
  </div>
</div>



{% endblock %}