{% extends "backend/base.html" %}
{% load static %}


{% block content %}

<body>
    <!-- Hero Banner -->
    <div class="container-fluid Bg-Gradient">
        <div class="row flex mt-5 align-items-center">
            <!-- Vector -->
            <div class="col-6 col-lg-3 d-none d-lg-block"><img
                    src="https://wahine.s3.amazonaws.com/static/Vector_Round-Blue.png" alt=""
                    style="max-height: 800px;margin-left: -50px;">
            </div>
            <!-- Screenshot -->
            <div class="col-lg-5 col-12 "><img src="https://wahine.s3.amazonaws.com/static/Img-Screenshot-Desktop4.svg"
                    alt="" class="Screenshot-Margin"></div>
            <!-- Caption -->
            <div class="col-8 col-lg-4 mx-auto pb-5 order-first order-lg-0">
                <h2 class="text-black">SNAPSHOT OF YOUR LIFE</h2><br>
                <p class="text-black">Meet W Vault, your personal life manager.

                    With the visibility, W Vault provides planning for a better future just got easier.


                </p>
                <br>
                <a class="btn Btn-Secondary" href="{% url 'faq' %}" role="button">Begin For Free</a>
            </div>
        </div>
    </div>
    </div>

    <!-- Section 2 -->
    <div class="container mt-5 pb-3">

        <br>
        <div class="row">
            <div class="col-10 text-center mx-auto p-5">
                <h4 class="Color-Secondary">UNPLANNED EVENTS = FINANCIAL VULNERABILITY</h4><br>
                <h2 class="text-black">Women are significantly more financially vulnerable to widowhood, divorce,
                    retirement and illness.
                </h2><br>
                <p class="text-center text-black">Empower yourself today.</p><br>
                <a class="btn Btn-Secondary" href="{% url 'faq' %}" role="button">Begin For Free</a>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5 mb-5 " style="margin-left: -100px;" id="whatiswvault">
        <div class="row align-items-center Relative-P">
            <div class="col-6 col-lg-4 d-none d-lg-block"><img
                    src="https://wahine.s3.amazonaws.com/static/Vector_Irregular-Navy.png" alt=""></div>

            <div class="col-lg-8 text-center text-lg-start mt-5 margin-Left100">
                <h4 class="text-black">What is W Vault?</h4><br>
                <p class="text-black text-center text-lg-start"><b>W the digital vault:</b> W Vault is more than just a
                    digital vault to house your important documents. In addition to allowing you (and your authorised
                    list of accessors), immediate access to a list of assets and liabilities for handling important life
                    events such as divorce, death or even tax audits.
                    W Vault will provide you a snapshot of your financial life (through the dashboard) of your assets and
                    liabilities. With this information, you can get a good understanding of your financial standing. By
                    inputting information, W Vault serves as a personal life manager for you, securely.

                    <br><br>
                    <b>What?</b> The Dashboard will highlight areas where you, the user is over or under exposed to an
                    asset or liability.
                    <br><br>
                    <b>Why?</b> By highlighting the over or under exposure, you are better equipped to realise for
                    better financial health, it is healthier for you to have a more diversified asset base and minimal
                    liabilities.

                </p>
            </div>
        </div>

    </div>

    <!-- <div class="container-fluid mt-5 margin-RightN200">
        <div class="row align-items-center Relative-P">
            <div class="col-lg-4 col-8 mx-auto text-lg-start text-center">
                <h4 class="text-center text-lg-start">1st 3 Months Free, then only RM19.90 A Month</h4><br>
                <p class="text-center text-lg-start">Get started today and be a part of the women community who empowers
                    each other
                    and to make sure
                    you
                    secure a sound financial future.</p>
            </div>
            <div class="col-lg-3 offset-lg-1 col-6"><img
                    src="https://wahine.s3.amazonaws.com/static/Img_SmilingGirl1.png" alt="" class="Img-Abv">
            </div>
            <div class="col-lg-4 col-6 "><img src="https://wahine.s3.amazonaws.com/static/Vector_Irregular-Red.png"
                    alt="">
            </div>
        </div>

    </div>

    <div class="container-fluid mt-5 mb-5 " style="margin-left: -100px;">
        <div class="row align-items-center Relative-P">
            <div class="col-6 col-lg-4"><img src="https://wahine.s3.amazonaws.com/static/Vector_Irregular-Navy.png"
                    alt=""></div>
            <div class="col-6 col-lg-4"><img src="https://wahine.s3.amazonaws.com/static/Img-Planning.jpg" alt=""
                    class="Img-Abv" style="margin-left: -200px; max-width: 500px;"></div>
            <div class="col-lg-4 text-center text-lg-start mt-5 margin-Left100">
                <h4>Private & Secure Planning</h4><br>
                <p class="text-center text-lg-start">Your security is our highest priority. We invest heavily
                    in security technology and build it into every aspect of
                    Wahine.</p>
            </div>
        </div>

    </div> -->


    <!-- Security   -->
    <div class="container-fluid bg-light pt-5 pb-5 px-5" id="security">
        <div class="row">
            <div class="col-lg-8 pt-5">
                <h3 class="border-0 p-0">W Vault Security</h3>
                <br>
                <p class="text-black">We take security and your data privacy seriously. We are working towards
                    ensuring that we meet
                    banking standard security. We will be conducting periodic penetration testing to ensure that our
                    security levels are always on guard, because your security concern is ours too.
                </p>
                <a class="btn Btn-Primary" href="{% url 'faq' %}" role="button">Get Started</a>
            </div>
            <div class="col-lg-4">
                <img src="https://wahine.s3.amazonaws.com/static/css/Img-Security.png" alt=""
                    style="max-height:350px ;">

            </div>
        </div>
    </div>


    <!-- section 3 How We Protect -->
    <div class="container-fluid mt-5 mb-5 px-5">
        <div class="row">
            <div class="col-lg-12 col-12'">
                <h4 class="text-black">How We Protect You</h4><br>
                <p class="text-black">Some of your most personal information is stored with us, which is why we've
                    adopted the following best practices to keep you and your data safe.</p>
            </div>
            <div class="col-12">
                <div class="row">

                    <div class="col-lg-6 col-md-12 mb-4">
                        <div class="card card1 h-100">
                            <div class="card-body">
                                <img src="https://wahine.s3.amazonaws.com/static/Icon-SSL.svg" alt=""
                                    style="max-width:100px;fill: aqua; ">
                                <h5 class="card-title text-black mt-3">SSL Encryption</h5>
                                <p class='text-black'>SSL, or Secure Sockets Layer, is a protocol used for
                                    establishing secure connections between web servers and clients. It is typically
                                    used to protect sensitive information, such as credit card numbers and passwords,
                                    from being intercepted by attackers. W Vault uses SSL to prevent attackers from
                                    being able read or modify the data being transmitted on the platform.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 mb-4">
                        <div class="card card1 h-100">
                            <div class="card-body">
                                <img src="https://wahine.s3.amazonaws.com/static/Icon-Audit2.svg" alt=""
                                    style="max-width:100px; ">
                                <h5 class="card-title text-black mt-3">Penetration Testing</h5>
                                <p class='text-black'>W Vault will undergo penetration testing, also known as "pen
                                    testing" to help identify vulnerabilities in the system that an attacker could
                                    exploit, and provide an opportunity to fix these vulnerabilities before they are
                                    discovered and exploited by an actual attacker. By conducting regular pen tests,
                                    we can ensure that their web applications are as secure as possible and
                                    protect against potential attacks.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- Pricing -->
    <!-- Section 4 -->
    <div class="container-fluid Section9 pt-5 pb-5 px-5">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="pb-3">Pricing</h4>
                <p class="text-white">W Vault is your personal life manager to help you start that first steps towards a
                    financially secure
                    future.
                </p>
                <p class="text-white">3 months free for the first lucky 100 customers. Cancel or change your plan
                    anytime! </p>
            </div>
            <div class="col-lg-6">

                <h4 class="Color-Primary">Option 1</h4>
                <h2 style="color:#F3CD03">RM 19.90</h2>
                <p class="text-white">per month</p>
                <a class="btn Btn-Primary" href="{% url 'faq' %}" role="button">Get Started</a>
            </div>
            <div class="col-lg-6 ">
                <h4 class="Color-Primary">Option 2</h4>
                <h2 style="color:#F3CD03">RM 199.00</h2>
                <p class="text-white">per annum</p>

                <a class="btn Btn-Primary" href="{% url 'faq' %}" role="button">Get Started</a>
            </div>
        </div>
    </div>



</body>

{% endblock %}