{% extends "backend/base.html" %}
{% load static %}


{% block content %}

<body>
    <!-- Hero Banner -->
    <div class="container-fluid Bg-Gradient">
        <div class="row flex mt-5 align-items-center">

            <div class="col-6 col-lg-3"><img src="https://wahine.s3.amazonaws.com/static/Vector_Round-Blue.png" alt=""
                    style="max-height: 800px;margin-left: -50px;">
            </div>

            <div class="col-6 col-lg-3"><img src="https://wahine.s3.amazonaws.com/static/Img-Browser3.png" alt=""
                    style="margin-left: -500px;max-width: 800px;"></div>
            <div class="col-8 col-lg-6 mx-auto pb-5 order-first order-lg-0">
                <h2>Wahine</h2><br>
                <p>With Wahine, you can minimise the stress of dealing with lawyers by having the
                    necessary information
                    kept securely and only released upon your choice of trigger events such as dementia, full body
                    disability or death.

                <p>We can assist to help you find lawyers, will writers, financial planners and the right insurance
                    and
                    fund managers.
                </p>
                <p>If you are currently in the midst of relooking at your marriage/life/career and needs some
                    coaching
                    to get you to live your best life, we are here every ready to empower you.
                </p>
                <br>
                <a class="btn Btn-Secondary" href="{% url 'signup' %}" role="button">Begin For Free</a>
            </div>
        </div>
    </div>
    </div>

    <!-- Section 2 -->
    <div class="container mt-5 pb-3">
        <div class="row">
            <div class="col-8 text-center mx-auto p-5">
                <h4 class="Color-Secondary">Women With Women</h4><br>
                <h2>Empower Yourself Today</h2><br>
                <p class="text-center">Wahine Capital envisions a future where women have access to acquire the
                    confidence, capability and
                    knowledge
                    to secure a sound financial future for themselves and their community.</p><br>
                <a class="btn Btn-Secondary" href="/createaccount" role="button">Begin For Free</a>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5 margin-RightN200">
        <div class="row align-items-center Relative-P">
            <div class="col-lg-4 col-8 mx-auto text-lg-start text-center">
                <h4 class="text-center">1st 3 Months Free, then only RM19.90 A Month</h4><br>
                <p class="text-center">Get started today and be a part of the women community who empowers each other
                    and to make sure
                    you
                    secure a sound financial future.</p>
            </div>
            <div class="col-lg-3 offset-lg-1 col-6"><img
                    src="https://wahine.s3.amazonaws.com/static/Img_SmilingGirl1.png" alt="" class="Img-Abv">
            </div>
            <div class="col-lg-4 col-6 "><img src="https://wahine.s3.amazonaws.com/static/Vector_Irregular-Red.png"
                    alt="">
            </div>
        </div>

    </div>






    <div class="container-fluid mt-5 mb-5 " style="margin-left: -100px;">
        <div class="row align-items-center Relative-P">
            <div class="col-6 col-lg-4"><img src="https://wahine.s3.amazonaws.com/static/Vector_Irregular-Navy.png"
                    alt=""></div>
            <div class="col-6 col-lg-4"><img src="https://wahine.s3.amazonaws.com/static/Img-Planning.jpg" alt="" class="Img-Abv"
                    style="margin-left: -200px; max-width: 500px;"></div>
            <div class="col-lg-4 text-center text-lg-start mt-5 margin-Left100">
                <h4>Private & Secure Planning</h4><br>
                <p>Your security is our highest priority. We invest heavily
                    in security technology and build it into every aspect of
                    Wahine.</p>
            </div>
        </div>

    </div>

    <!-- section 3 Plans & Pricing -->
    <div class="container mt-5 mb-5" style="">
        <div class="row">
            <div class="col-lg-12 col-12'">
                <h4>How We Protect You</h4><br>
                <p>Some of your most personal information is stored with us, which is why we've
                    adopted the following best practices to keep you and your data safe.</p>
            </div>
            <div class="col-12">

                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card card1 h-100">
                            <div class="card-body">
                                <img src="https://wahine.s3.amazonaws.com/static/Icon-AES256.svg" alt="" style="max-width:100px; ">
                                <h5 class="card-title">AES-256 Encryption</h5>
                                <small class='text-muted'>With end to end encryption,
                                    your information and
                                    documents are secured from
                                    falling into the wrong hands.
                                    This is because your data is
                                    protected with a lock, only you
                                    and your sidekicks have the
                                    special key to unlock them.</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card card1 h-100">
                            <div class="card-body">
                                <img src="https://wahine.s3.amazonaws.com/static/Icon-SSL.svg" alt="" style="max-width:100px;fill: aqua; ">
                                <h5 class="card-title">SSL Encryption</h5>
                                <small class='text-muted'>On top of AES-256 encryption,
                                    we add another layer of security
                                    to your
                                    Bereev account in the
                                    form of strong SHA-2 and 2048-
                                    bit encryption. In layman's
                                    terms, all of your
                                    communications with Bereev
                                    will remain private from prying
                                    eyes
                                    and ears.</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card card1 h-100">
                            <div class="card-body">
                                <img src="https://wahine.s3.amazonaws.com/static/Icon-Audit2.svg" alt="" style="max-width:100px; ">
                                <h5 class="card-title">Security Audits</h5>
                                <small class='text-muted'>We have a team dedicated to
                                    maintaining your account's
                                    security on our systems and
                                    monitoring tools we've set up to
                                    alert us to any nefarious activity
                                    against our domains. We also
                                    have processes and defenses in
                                    place to keep our streak of 0
                                    data breaches going .</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Pricing -->
    <!-- Section 4 -->
    <div class="container-fluid Section9 pt-5 pb-5" style="padding:0px 50px;">
        <div class="row">
            <div class="col-lg-11 offset-lg-1">
                <h4 class="pb-3">Pricing</h4>
                <p>W is your personal life manager to help you start that first steps towards a financially secure
                    future.
                </p>
                <p>3 Months Free For The First Few Lucky Customers</p>
            </div>
            <div class="col-lg-5 offset-lg-1">

                <h4 class="Color-Primary">Option 1</h4>
                <h2 style="color:#F3CD03">RM 19.90</h2>
                <p>per month</p>
            </div>
            <div class="col-lg-5 offset-lg-1  ">
                <h4 class="Color-Primary">Option 2</h4>
                <h2 style="color:#F3CD03">RM 199.00</h2>
                <p>per annum</p>
                <p>Cancel or change your plan anytime</p>
                <a class="btn Btn-Primary" href="{% url 'joinnow' %}" role="button">Get Started</a>
            </div>
        </div>
    </div>

    <!-- Section 5 -->
    <div class="container-fluid 
   pt-5 pb-5" style="padding:0px 50px;">
        <div class="row">
            <div class="col-lg-6 offset-lg-1">
                <h5>We focus on Women for Women</h5>
            </div>
            <div class="col-lg-5">
                <p>With Waris, you can minimise the stress of dealing with lawyers by having the necessary information
                    kept
                    securely and only released upon your choice of trigger events such as dementia, full body disability
                    or death.
                    Empower yourself today! </p>
                <a class="btn Btn-Primary" href="{% url 'joinnow' %}" role="button">Get Started</a>
            </div>
        </div>
    </div>

</body>

{% endblock %}