{% extends "backend/base.html" %}
{% load static %}

{% block extrahead %}
<!-- STYLE CSS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/style-SignUp.css">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<!-- Steps CSS and JS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/steps.css">
<style>
	.table td a {
		all: unset;
		cursor: pointer;
	}
</style>
{% endblock %}

{% block content %}

<div class="wrapper BG-Blue pb-5">
	<form action="" class="Assets">
		<!-- SECTION 1 -->
		<h2></h2>
		<section>
			<div class="inner col-12 col-lg-10 m-auto">
				<!-- Column 1 -->
				<div class="form-content col-12 col-lg-9 px-lg-0 pb-5 mx-auto">
					<div class="form-header">
						<h2 class="mb-1 Color-Secondary">Liabilities Overview</h2>
						<p>Check all the assets that you currently possess and
							mark them as complete in the checkboxes below. </p>
					</div>



					<!-- Left Column Inner Column -->
					<div class="inner pb-5">

						<div class="form-content w-100 pb-3">



							<!-- Other Assets -->
							<DIV class="mb-5">
								<!-- <h4 class="text-black">All Assets</h4>
									<p class="text-start">Check all the assets that you currently possess and
										mark them as complete in the checkboxes below.</p><br> -->
								<!-- Information -->
								<!-- Other Assets #1 -->
								<div>
									<div>
										<table class="table">
											<thead>
												<tr>
													<th scope="col">#</th>
													<th scope="col">Assets</th>
													<th scope="col">Last Modified</th>
													<th scope="col" class="text-center">Complete?</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">1</th>
													<td>{% if not creditcard %}
														<a href="{% url 'liabilities-creditcard-createform' %}">Credit Card</a>
														{% else %}
														<a href="{% url 'dashboard-new' %}">Credit Card</a>
														{% endif %}
													</td>
													<td>{{creditcard.created_at}}</td>
													<td>
														<div class="checkbox text-center">
															<label><input type="checkbox" value="check1"
																	disabled="disabled" {% if creditcard %} checked {% endif %} /></label>
														</div>
													</td>
												</tr>
												<tr>
													<th scope="row">2</th>
													<td>{% if not personalloan %}
														<a href="{% url 'liabilities-personalloan-createform' %}">Personal Loan</a>
														{% else %}
														<a href="{% url 'dashboard-new' %}">Personal Loan</a>
														{% endif %}
													</td>
													<td>{{personalloan.created_at}}</td>
													<td>
														<div class="checkbox text-center">
															<label><input type="checkbox" value="check1"
																	disabled="disabled" {% if personalloan %} checked {% endif %} /></label>
														</div>
													</td>
												</tr>
												<tr>
													<th scope="row">3</th>
													<td>{% if not vehicleloan %}
														<a href="{% url 'liabilities-vehicleloan-createform' %}">Vehicle Loan</a>
														{% else %}
														<a href="{% url 'dashboard-new' %}">Vehicle Loan</a>
														{% endif %}
													</td>
													<td>{{vehicleloan.created_at}}</td>
													<td>
														<div class="checkbox text-center">
															<label><input type="checkbox" value="check1"
																	disabled="disabled" {% if vehicleloan %} checked {% endif %} /></label>
														</div>
													</td>
												</tr>
												<tr>
													<th scope="row">4</th>
													<td>{% if not propertyloan %}
														<a href="{% url 'liabilities-propertyloan-createform' %}">Property Loan</a>
														{% else %}
														<a href="{% url 'dashboard-new' %}">Property Loan</a>
														{% endif %}
													</td>
													<td>{{propertyloan.created_at}}</td>
													<td>
														<div class="checkbox text-center">
															<label><input type="checkbox" value="check1"
																	disabled="disabled" {% if propertyloan %} checked {% endif %} /></label>
														</div>
													</td>
												</tr>

												<tr>
													<th scope="row">5</th>
													<td>{% if not others %}
														<a href="{% url 'liabilities-other-createform' %}">Other
															Liabilities</a>
														{% else %}
														<a href="{% url 'dashboard-new' %}">Other Liabilities</a>{% endif %}

													</td>
													<td>{{others.created_at}}</td>
													<td>
														<div class="checkbox text-center">
															<label><input type="checkbox" value="check1"
																	disabled="disabled" {% if others %} checked {% endif %} /></label>
														</div>
													</td>
												</tr>



											</tbody>
										</table>
									</div>

								</div>





							</DIV>




							<!-- Button -->
							<div class="mt-5">
								<a class="btn Btn-Secondary-2 mt-5" href="{% url 'liabilities-other-createform' %}"
									role="button">Back</a>
									<a class="btn Btn-Primary float-end mt-5" href="{% url 'notifier_list_form' %}"
									role="button">Next</a>
							</div>
						</div>

					</div>

				</div>
				{% include 'backend/onboarding-liabilities-sidebar.html' %}
			</div>


		</section>



	</form>
</div>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
{% endblock %}