{% extends 'backend/base.html' %}
{% block extrahead %}
<!-- STYLE CSS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/style-SignUp.css">
<!-- Steps CSS and JS -->
<link rel="stylesheet" href="https://wahine.s3.amazonaws.com/static/css/steps.css">
{% endblock %}
{% block extrastyle %}
{% endblock %}
{% block content %}s
<div class="container bg-white my-50 container-shadow">
  <div class="row">
    <!-- First Column -->
    <div class="col-md-8 col-lg-8">

  <div class="row">
    <div class="col-md-12 col-lg-12 col-12 mx-auto pt-5">
        <h2 class="Color-Secondary mb-2 d-lg-none text-center">Step 4/4:</h2>
        <h2 class="mb-1 Color-Secondary text-center pb-2">Triggers</h2>
        <p class="text-center">A Notifier is anyone you have been identified as the person who will get in touch with us should a trigger event happen such as death, disability, mental incapacity and so on.</p>
    </div>
  </div>
  <div class="row">
  <div class="container">
<div class="row container-shadow p-4 m-4">
      {% include 'backend/onboarding-trigger-breadcrumbs.html' %}
  <div class="row">
    <div class="col-12">
        <h4 class="text-black">Notifier List</h4>
            </div>
    <!-- Yes no label -->
  
                                    <!-- Start Input -->
                                    </div>
                                    <!-- End Input -->
      <!-- Yes no label -->

  <form class="form-horizontal form-block" method="POST" action="">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
    <div class="row form-row">
      <div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
        <label for="{{ form.name.id_for_label }}">{{form.name.label}}</label>
        {{form.name}}
        <small class="text-danger">{{ form.name.errors }}</small>
      </div>

      <div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
        <label for="{{ form.email.id_for_label }}">{{form.email.label}}<i class="fas fa-info-circle px-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="An email will be sent to notifier for verification. Please get in touch with us if your notifier doesn’t receive an email within 2 business days."></i></label>
        {{form.email}}
        <small class="text-danger">{{ form.email.errors }}</small>
      </div>

      <div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
        <label for="{{ form.ic.id_for_label }}">{{form.ic.label}}</label>
        {{form.ic}}
        <small class="text-danger">{{ form.ic.errors }}</small>
      </div>

      <div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
        <label for="{{ form.contact_no.id_for_label }}">{{form.contact_no.label}}</label>
        {{form.contact_no}}
        <small class="text-danger">{{form.contact_no.errors }}</small>
      </div>

      <div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
        <label for="{{ form.relationship.id_for_label }}">{{form.relationship.label}}</label>
        {{form.relationship}}
        <small class="text-danger">{{ form.relationship.errors }}</small>
      </div>
<div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
        <label for="{{ form.event.id_for_label }}">{{form.event.label}}</label>
        {{form.event}}
        <small class="text-danger">{{ form.event.errors }}</small>
      </div>


      <div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
<label class="form-label" for="customFile">Upload File</label>
<input onchange="validateSize(this)" type="file" class="" id="customFile" />
      </div>

<div class="col-12 col-lg-4 col-md-4 col-sm-6 py-2">
<label class="form-label" for="customFile2">Upload File</label>
<input onchange="validateSize(this)" type="file" class="" id="customFile2" />
      </div>
        <!-- End process each form fields manually -->

        <!-- Add/remove additional forms-->
      <div class="col-12 d-flex py-2">
        {% if forloop.last %}
          <button class="btn btn-success add-form-row mt-auto">Add</button>
        {% else %}
          <button class="btn btn-danger remove-form-row mt-auto">Delete</button>
        {% endif %}
      </div>
      <!-- End Add/remove additional forms-->

    </div>
    {% endfor %}
    <!-- Submit Button -->
    <div class="row spacer">
        <div class="col-4">
            <button type="submit" class="btn btn-block btn-primary">Save</button>
        </div>
    </div>
    <!-- Submit Button -->
  </form>
</div>
</div>
  </div>
</div>
<!-- End First Column -->

<!-- Start Second Column -->
<div class="col-md-4 col-lg-4 BG-Gray">
{% include 'backend/onboarding-trigger-sidebar.html' %}
  </div>
  <!-- End Second Column -->
</div>
</div>
<script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
{% endblock %}
