{% extends "backend/base.html" %}
{% load static %}


{% block content %}

<div class="HeroBannerTOS">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 col-sm-12 text-white">
                <hr class="d-none d-lg-block" style="height:130pt; visibility:hidden;" />
                <hr class="d-lg-none" style="height:50pt; visibility:hidden;" />
                <h1>Cancellation & Refund Policy</h1>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Contact -->
<div class="container-fluid px-5">
    <div class="row margin-TopN220">
        <!-- Inner Left Column -->
        <div class="col-lg-12 col-12 bg-white pt-5 pb-5 text-black">

            <h4>Cancellations

            </h4>
            <p>WAHINE CAPITAL SDN BHD wants you to be happy with your purchase. We stand behind the quality of our
                Services and hope to ensure every subscriber will have a positive experience. But if you need to cancel
                your subscription, we’re here to help. However, refunds are subject to the conditions set as below.
                Please submit your cancellations requests to hellowahine@wcapital.asia with details required:
                <br>
                1. Full name
                <br>
                2. Name of service
                <br>
                3. Reason for cancellation
                <br>
                4. Date start of service / date of appointment
                <br>
                5. Contact details
                <br>
                <br>
                WAHINE CAPITAL SDN BHD does not take responsibility for any wrong information or account provided in the
                event of refund. Please ensure that you provide us with accurate information.


                WAHINE CAPITAL SDN BHD reserves the right to refuse the cancelling of the services on such terms that it
                may determine at its sole discretion. For coaching services, we require a minimum of 24 hours notice for
                cancelling appointments for refund eligibility. Please contact hellowahine@wcapital.asia for full terms and
                condition.

            </p>
            <br>
            <h4>Refund


            </h4>
            <p>Once we receive your cancellation request, we will review and initiate the refund.
                Our refunds are processed centrally and may take up to 21 working days (depending on bank and card
                processing time) and it will be processed to your original payment method.
                Please note that all refunds will be net of any bank charges or financial services costs imposed by the
                processor.

                WAHINE CAPITAL SDN BHD reserves the right to change the terms and conditions any time without further
                notice. Please contact hellowahine@wcapital.asia for full terms and condition.
            </p>
            <p><strong>Upon cancellation, refund or default of payment, your account on W Vault will be deleted within a month. This means the information saved on W Vault will be deleted.  During this one month grace period, you may contact Wahine Capital to provide you with the information.  Please contact W Vault immediately to know more about this. 
            </strong></p>





        </div>
    </div>

</div>



{% endblock %}