{% extends "backend/base.html" %}
{% load static %}


{% block content %}

<div class="HeroBannerTOS">
    <div class="cont">
        <div class="row text-center">
            <div class="col-lg-12 col-sm-12">
                <hr class="d-none d-lg-block" style="height:130pt; visibility:hidden;" />
                <hr class="d-lg-none" style="height:50pt; visibility:hidden;" />
                <h1>Return & Refund Policy</h1>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Contact -->
<div class="container">
    <div class="row margin-TopN220">
        <!-- Inner Left Column -->
        <div class="col-lg-12 col-12 bg-white pt-5 px-5 pb-5">

            <h4>Cancellations

            </h4>
            <p>WAHINE CAPITAL SDN BHD wants you to be happy with your purchase. We stand behind the quality of our
                Services and hope to ensure every subscriber will have a positive experience. But if you need to cancel
                your subscription, we’re here to help. However, refunds are subject to the conditions set as below.
                Please submit your cancellations requests to hello@wcapital.asia with details required

                1. Full name
                2. Name of services
                3. Reason for cancellation
                4. Date start of service / date of appointment
                5. Contact details
                WAHINE CAPITAL SDN BHD does not take responsibility for any wrong information or account provided in the
                event of refund. Please ensure that you provide us with accurate information.


                WAHINE CAPITAL SDN BHD reserves the right to refuse the cancelling of the services on such terms that it
                may determine at its sole discretion. For coaching services, we require a minimum of 24 hours notice for
                cancelling appointments for refund eligibility.

            </p>
            <br>
            <h4>Refund


            </h4>
            <p>Once we receive your cancellation request, we will review and initiate the refund.
                Our refunds are processed centrally and may take up to 21 working days (depending on bank and card
                processing time) and it will be processed to your original payment method.
                Please note that all refunds will be net of any bank charges or financial services costs imposed by the
                processor.

                WAHINE CAPITAL SDN BHD reserves the right to change the terms and conditions any time without further
                notice.


            </p>





        </div>
    </div>

</div>



{% endblock %}