{% extends "backend/base.html" %}
{% load static %}


{% block content %}


<!-- Hero -->
<div class="Banner-WhoWeAre">
  <div class="container pb-5">
    <div class="row align-items-center">
      <div class="col-lg-6 col-12 mt-5 mt-lg-0 px-lg-0 px-5">
        <h3 class="display-4 mb-4 font-weight-bold text-black">Who We Are</h3>
        <p class="h5 aa mb-4 pb-3 text-black-50">W is your personal life manager to help you start that first steps
          towards a financially secure future.
          . Start for free today!</p>

        <a class="btn Btn-Secondary-2" href="/joinnow" role="button">Get Started</a>
      </div>
      <div class="col-lg-6 col-12 text-lg-right text-center mt-5 mt-lg-0">
        <div class="banner-phone-image"> <img src="https://wahine.s3.amazonaws.com/static/Img_IphoneMockUp2.png"
            style="max-width:400px">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero -->


<!-- How Wahines Was Born -->
<div class="Section4 container mt-5">
  <div class="row">
    <div class="SectionImage col-lg-4">
      <img class="" src="https://wahine.s3.amazonaws.com/static/Img_TeamWork.png" alt="" style="max-height:400px;">
    </div>
    <div class="col-lg-8 px-5">
      <h4 class="mb-5">How Wahine Was Born</h4>
      <p>We are three friends, three women, combining our knowledge and experience in capital markets and NGO work to
        bring about a better future for women and our community. We have come together to make women's journey through
        life, more secure one step at a time. </p><br>
      <p>Wahine Capital was set up during the COVID lockdown with the vision to empower women by securing our
        relationship with finance through knowledge and collaborative platforms. We hope to contribute to a future
        where
        women have easy access to acquire the confidence, capability and knowledge to secure a sound financial future
        for themselves and the society. </p>
    </div>

  </div>
</div>

<!-- Our Purpose -->
<div class="Section4 container mt-5 py-5">
  <div class="row">
    <div class="col-lg-8 px-5 ">
      <h4 class="mb-5">Our Purpose</h4>
      <p>Wahine Capital envisions a future where women have access to acquire the confidence, capability and knowledge
        to secure a sound financial future for themselves and their community. Women are now a Major Driving Force in
        the
        Economy But whilst women’s consumerism has increased, our participation and ownership in the economy is not on
        par with men. </p><br>
      <p>The labour workforce presents a multitude of challenges for women - unequal opportunities, the gender pay
        gap,
        tendency towards the informal labour sector, safety at the workplace and many more.</p>
    </div>
    <div class="SectionImage col-lg-4">
      <img class="" src="https://wahine.s3.amazonaws.com/static/Img_Brainstorm.png" alt=""
        style="max-height:400px; margin-left: 100px;">
    </div>
  </div>
</div>





<!-- Pricing -->
<!-- Section 9 -->
<div class="container-fluid Section9 pt-5 pb-5">
  <div class="row">
    <div class="col-lg-11 offset-lg-1">
      <h4 class="pb-3">Pricing</h4>
      <p>W is your personal life manager to help you start that first steps towards a financially secure future.
      </p>
      <p>3 Months Free For The First Few Lucky Customers. Cancel or change your plan anytime!</p>
    </div>
    <div class="col-lg-5 offset-lg-1">

      <h4 class="Color-Primary">Option 1</h4>
      <h2 style="color:#F3CD03">RM 19.90</h2>
      <p>per month</p>
      <a class="btn Btn-Primary" href="{% url 'joinnow' %}" role="button">Get Started</a>
    </div>
    <div class="col-lg-5 offset-lg-1  ">
      <h4 class="Color-Primary">Option 2</h4>
      <h2 style="color:#F3CD03">RM 199.00</h2>
      <p>per annum</p>

      <a class="btn Btn-Primary" href="{% url 'joinnow' %}" role="button">Get Started</a>
    </div>
  </div>
</div>



{% endblock %}