{% extends "backend/base.html" %}
{% load static %}


{% block content %}


<!-- Hero -->
<div class="Banner-WhoWeAre">
  <div class="container pb-5">
    <div class="row align-items-center">
      <div class="col-lg-6 col-12 mt-5 mt-lg-0 px-lg-0 px-5">
        <h3 class="display-4 mb-4 font-weight-bold border-0 p-0 Color-Secondary">Who We Are</h3>
        <p class="h5 aa mb-4 pb-3 text-black">We Are Wahine, We are women. Just like you, we want to live our best
          life. Come Join Us!</p>

        <a class="btn Btn-Secondary-2" href="{% url 'joinnow' %}" role="button">Get Started</a>
      </div>
      <div class="col-lg-6 col-12 text-lg-right text-center mt-5 mt-lg-0">
        <div class="banner-phone-image"> <img src="https://wahine.s3.amazonaws.com/static/Img_IphoneMockUp2.png"
            style="max-width:400px; margin-top: -50px;">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero -->


<!-- How Wahines Was Born -->
<div class="Section4 container-fluid mt-5 px-5">
  <div class="row align-items-center">
    <div class="col-lg-4 Margin-Top240-Mobile">
      <img class="" src="https://wahine.s3.amazonaws.com/static/Img_WhoWeAre1.jpg" alt="" style="max-height:400px;">
    </div>
    <div class="col-lg-8 mt-5 mt-lg-0">
      <h4 class="mb-5 text-black">How Wahine Was Born</h4>
      <p class="text-black">We are women, friends, combining our knowledge and experience in capital markets and human
        rights empowerment
        work to bring about a better future for women and our community. We have come together to make women’s journey
        through life, more secure one step at a time.
      </p><br>
      <p class="text-black">Wahine Capital was set up during the COVID lockdown with the vision to empower women by
        securing our
        relationship with finance through knowledge and collaborative platforms. Wahine Capital hopes to be part of the
        change towards a more balanced and sustainable contribution of women in the economy and the society. </p>
    </div>

  </div>
</div>

<!-- Our Purpose -->
<div class="Section4 container-fluid mt-5 py-5 px-5">
  <div class="row align-items-center">
    <div class="col-lg-8 ">
      <h4 class="mb-5 text-black">Our Purpose</h4>
      <p class="text-black">Wahine Capital envisions a future where women have access to acquire the confidence,
        capability and knowledge
        to secure a sound financial future for themselves and their community. Women are now a Major Driving Force in
        the
        Economy. Whilst women’s consumerism has increased, our participation and ownership in the economy is not on
        par with men. Wahine Capital hopes to be part of the change towards a more balanced and sustainable contribution
        of women in the economy and the society. </p><br>

    </div>
    <div class="text-lg-end col-lg-4">
      <img class="" src="https://wahine.s3.amazonaws.com/static/Img_WhoWeAre2.jpg" alt="" style="max-height:400px;">
    </div>
  </div>
</div>





<!-- Pricing -->
<!-- Section 9 -->
<div class="container-fluid Section9 pt-5 pb-5 px-5">
  <div class="row">
    <div class="col-lg-12">
      <h4 class="pb-3">Pricing</h4>
      <p class="text-white">W Vault is your personal life manager to get started on your first step towards a
        financially secure future.
      </p>
      <p class="text-white">3 months free for the first lucky 100 customers. Cancel or change your plan anytime.</p>
    </div>
    <div class="col-lg-6">

      <h4 class="Color-Primary">Option 1</h4>
      <h2 style="color:#F3CD03">RM 19.90</h2>
      <p class="text-white">per month</p>
      <a class="btn Btn-Primary" href="{% url 'joinnow' %}" role="button">Get Started</a>
    </div>
    <div class="col-lg-6 mt-5 mt-lg-0 ">
      <h4 class="Color-Primary">Option 2</h4>
      <h2 style="color:#F3CD03">RM 199.00</h2>
      <p class="text-white">per annum</p>

      <a class="btn Btn-Primary" href="{% url 'joinnow' %}" role="button">Get Started</a>
    </div>
  </div>
</div>



{% endblock %}